@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/*media query start*/
/*-----------------------------------------------------------------------------------------------*/

/*max-width:850px(tablet 세로)*/
@media screen and (max-width:850px){ /*---------------------------------------*/
    
    
    /*box1_header start*/
    .box1{
    height:50px;
}
    
    .box1 .header_busan{
    background:url(../img/all_header_busan.png) no-repeat center;
    background-size:cover;
    height:50px;
}

    .box1 .header_marin{
    background:url(../img/all_header_marin.png) no-repeat center;
    background-size:cover;
    height:50px;
}

    .box1 .header_jeju{
    background:url(../img/all_header_jeju.png) no-repeat center;
    background-size:cover;
    height:50px;
}
    
    .box1 .header_busan a{
    font-size:16px;
    height:37px;
    padding-top:13px;
    font-weight:700;
}
    
    .box1 .header_marin a{
    font-size:16px;
    height:37px;
    padding-top:13px;
    font-weight:700;
}
    
    .box1 .header_jeju a{
    font-size:16px;
    height:37px;
    padding-top:13px;
    font-weight:700;
}
    /*box1_hea7der end*/
/*---------------------------------------------------------------*/
    /*box2_logo start*/
    .box2{
    width:100%;
    height:110px;
    position:relative;
}
    
    .box2 .busan_bg_logo{
    width:200px;
    height:50.80px;
    margin-top:29px;
    
    /*고정형 레이아웃*/
    position:absolute;
    left:50%;
    margin-left:-110px;

    background-size:contain;
}
    /*box2_logo end*/
/*---------------------------------------------------------------*/
    /*box3_menu start*/
    .box3{
        height:50px;
}
    
    .box3 .menu_wrap{
        width:615px;
}
    
    .box3 .menu_wrap .menus{
    height:50px;
}
    
    .box3 .menu_wrap .menus a{
    font-size:12px;
    font-weight:600;
    padding-top:17px;
    height:33px;
}
    
    .box3 .menu_wrap .menu7 a{
    height:37px;
    font-size:10px;
    padding-top:14px;
}
    
    .box3 .menu_wrap .menu7 a span{
    font-size:9px;
}
    
    .box3 .menu_wrap .menu8 a{
    height:37px;
    font-size:10px;
    padding-top:14px;
}
    
    .box3 .menu_wrap .menu8 a span{
    font-size:9px;
}
    
    .box3 .menu_wrap .menu9 a{
    height:37px;
    font-size:10px;
    padding-top:14px;
}
    
    .box3 .menu_wrap .menu9 a span{
    font-size:9px;
}
    
    .box3 .menu_wrap .menu8 a{
    background-size:contain;
}
    
    .box3-clone .menu_wrap{
    width:615px;
}
    
    .box3-clone .menu_wrap .menus a{
    font-size:12px;
    font-weight:500;
    letter-spacing:0.03em;
    padding-top:12px;
    height:28px;
}
    
    .box3-clone .menu_wrap .menu7 a{
    height:31px;
    font-size:10px;
    font-weight:300;
    line-height:1.1em;
    padding-top:9px;
}

    .box3-clone .menu_wrap .menu7 a span{
    font-size:9.5px;
}
    
    .box3-clone .menu_wrap .menu8 a{
    height:31px;
    font-size:10px;
    font-weight:300;
    line-height:1.1em;
    padding-top:9px;
}

    .box3-clone .menu_wrap .menu8 a span{
    font-size:9.5px;
}
    
    .box3-clone .menu_wrap .menu9 a{
    height:31px;
    font-size:10px;
    font-weight:300;
    line-height:1.1em;
    padding-top:9px;
}

    .box3-clone .menu_wrap .menu9 a span{
    font-size:9.5px;
}
    
    .box3-clone .menu_wrap .jb_logo_white a img{
    width:50px;
    padding-top:16px;
}
    
    /*fixed menu start*/
    .box3-clone{
    width:100%;
    height:40px;
    position:fixed;
    top:-50px;
    
    -webkit-transition: top 0.35s;
            transition:top 0.35s;
    
    opacity:1;
    background:rgba(170,170,170,1);
}
    /*box3_menu end*/
/*---------------------------------------------------------------*/
    /*box4_video start*/
    .box4{
    height:350px;    
}
    
    .box4 .video_container{
    width:615px;
    padding-top:90px;
    position:absolute;
    top:0px;
    left:50%;
    margin-left:-307.5px;
        
    /*background-color:blue;*/
}
    
    .box4 .video_container .video_txt_1{
    font-size:40px;
    font-weight:700;
    line-height:40px;
    
    /*background-color:red;*/
}
    
    .box4 .video_container .video_txt_2{
    font-size:40px;
    line-height:47px;
    font-weight:700;
    padding-left:114px;
}
    
    .box4 .video_container .button1{
    font-size:14px;
    font-weight:500;
    padding-top:10px;
    padding-left:114px;
}
    
    .box4 .video_container .button1 a{
    width:120px;
    height:33.94px;
}
    
    .box4 .video_container .button1 a p{
    margin-top:7px;
}
    
    .box4 .video_container .button2{
    font-size:13px;
    line-height:14px;
    font-weight:500;
    padding-top:7px;
    padding-left:114px;
}
    
    .box4 .video_container .button2 a{
    width:120px;
    height:33.94px;
}
    
    .box4 .video_container .button2 a .button2_contents{
    width:72px;
    padding-top:1px;
    height:18px;
    margin:auto;
    margin-top:7px;
    
    /*background-color:darkviolet;*/
}
    
    .box4 .video_container .button2 a .button2_contents p{
    padding-top:2px;
}
    
    .box4 .video_container .button2 a .button2_contents img{
    margin-right:0px;
    padding-top:0px;
    transform:scale(0.7,0.7);
    
    /*background-color:red;*/
}
    /*box4_video end*/
    
/*---------------------------------------------------------------*/
    
/*ad_1 start*/
.box7{
    height:1020px;
}

/*컨텐츠 제목 & 소제목*/
.box7 .ad1_title{
    width:615px;
}
    
.box7 .ad1_title ul li h3{
    font-size:38px;
    line-height:38px;
}
    
.box7 .ad1_title ul li p{
    font-size:15px;
}
/*-----------------*/

.box7 .ad1_contents_wrap{
    width:615px;
}

/*컨텐츠 서체크기 통일화 2*/
 .box7 .ad1_contents_wrap .ad1_contents_box .ad1_contents_inner span{
     font-size:12.5px;
 }
 
 /*-----------------*/

/*contents1*/
.box7 .ad1_contents_wrap .ad1_contents_1 .ad1_contents_inner{
    padding-top:27px;
    padding-left:25px;
}

.box7 .ad1_contents_wrap .ad1_contents_1 .ad1_contents_inner .floating{
    font-size:22px;
    line-height:30px;
    margin-right:12px;
    padding-top:9px;
    width:28%;
}
    
.box7 .ad1_contents_wrap .ad1_contents_1 .ad1_contents_inner .floating br{
    display:none;
}

.box7 .ad1_contents_wrap .ad1_contents_1 .ad1_contents_inner .ad1_span{
    width:64%;
    margin-left:10px;
    padding-top:0px;
}

.box7 .ad1_contents_wrap .ad1_contents_1 .ad1_contents_inner .slash_image{
    display:none;
}


/*contents2*/
.box7 .ad1_contents_wrap .ad1_contents_2{
    width:100%;
    height:113px;
}    
    
.box7 .ad1_contents_wrap .ad1_contents_2 .ad1_contents_inner{
    padding-left:25px;
}
    
.box7 .ad1_contents_wrap .ad1_contents_2 .ad1_contents_inner .floating{
    font-size:22px;
    line-height:30px;
    margin-right:12px;
    width:28%;
    padding-bottom:0px;
    float:left;
}

.box7 .ad1_contents_wrap .ad1_contents_2 .ad1_contents_inner .ad1_span{
    width:64%;
    margin-left:10px;
    float:left;
}

    
.box7 .ad1_contents_wrap .ad1_contents_2 .ad1_contents_inner:after{
    content:"";
    display:block;
    clear:both;
}

/*contents3*/
.box7 .ad1_contents_wrap .ad1_contents_3{
    width:100%;
}

.box7 .ad1_contents_wrap .ad1_contents_3 .ad1_contents_inner{
    padding-top:28px;
    padding-left:25px;
}

.box7 .ad1_contents_wrap .ad1_contents_3 .ad1_contents_inner .floating{
    font-size:20px;
    line-height:28px;
    padding-top:13px;
}


.box7 .ad1_contents_wrap .ad1_contents_3 .ad1_contents_inner .ad1_span{
    width:48%;
    padding-top:0px;
}

/*contents4*/
.box7 .ad1_contents_wrap .ad1_contents_4{
    width:100%;
}

.box7 .ad1_contents_wrap .ad1_contents_4 .ad1_contents_inner{
    padding-top:19px;
    padding-left:25px;
}

.box7 .ad1_contents_wrap .ad1_contents_4 .ad1_contents_inner .floating{
    font-size:20px;
    line-height:28px;
    padding-top:15px;
}


.box7 .ad1_contents_wrap .ad1_contents_4 .ad1_contents_inner .ad1_span{
    width:48%;
    margin-left:126px;
}

/*contents5*/
.box7 .ad1_contents_wrap .ad1_contents_5{
    width:48.5%;
}

.box7 .ad1_contents_wrap .ad1_contents_5 .ad1_contents_inner{
    padding-top:20px;
    padding-left:25px;
}

.box7 .ad1_contents_wrap .ad1_contents_5 .ad1_contents_inner .floating{
    width:92%;
    font-size:20px;
    line-height:28px;
    padding-top:0px;
    padding-bottom:10px;
    float:none;
}
    
.box7 .ad1_contents_wrap .ad1_contents_5 .ad1_contents_inner .floating br{
    display:none;
}


.box7 .ad1_contents_wrap .ad1_contents_5 .ad1_contents_inner .ad1_span{
    width:94%;
    margin-left:0px;
    float:none;
}

/*contents6*/
.box7 .ad1_contents_wrap .ad1_contents_6{
    width:48.5%;
}

.box7 .ad1_contents_wrap .ad1_contents_6 .ad1_contents_inner{
    padding-top:20px;
    padding-left:25px;
}

.box7 .ad1_contents_wrap .ad1_contents_6 .ad1_contents_inner .floating{
    font-size:20px;
    line-height:28px;
    padding-top:0px;
    padding-bottom:10px;
}
    
.box7 .ad1_contents_wrap .ad1_contents_6 .ad1_contents_inner .floating br{
    display:none;
}


.box7 .ad1_contents_wrap .ad1_contents_6 .ad1_contents_inner .ad1_span{
    width:94%;
    margin-left:0px;
}
    
.box7{
    background:url('../img/jeju_bg_ad_1.png') no-repeat;
    background-size:cover;
    background-position: 86% 0%;
    
}
/*box7_ad1 end*/
/*---------------------------------------------------------------*/
    /*box8_prep & ad2 start*/
    .box8{
        height:1200px;
    }
    
    /* Prep start */
    .box8 .Prep1_title,
    .box8 .Prep3_title{
        width: 615px;
    }
    
    /* hover off */
    .box8 .multi_slider .prep1_contents_inner:hover{
        background: url('../img/jeju_prep2_box_line.png') no-repeat center;
        background-size: contain;
    }
    
    .box8 .multi_slider .prep3_contents_inner:hover{    
        background: url('../img/jeju_prep1_box_line.png') no-repeat center;
        background-size: contain;
    }
    
    /* prep frame setting */
    .box8 .Prep1_container,
    .box8 .Prep3_container,
    .box8 .prep3_list_container{
        width: 615px;
    }
    
     /* 공통 */
    .box8 .Prep1_title ul li h3,
    .box8 .Prep3_title ul li h3{
        font-size: 38px;
    }
    
    .box8 .Prep1_title ul li p,
    .box8 .Prep3_title ul li p{
        font-size: 15px;
        margin-top: -2px;
        font-weight: 400;
    }

    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span,
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        font-weight: 400;
        margin-top: 18px;
    }
    
    .box8 .Prep1_title{
        padding-top: 103px;
    }
    
    .box8 .Prep3_title{
        padding-top: 50px;
    }
    
    /* prep1 */
    .box8 .Prep1_container .prep1_box .prep1_contents_inner{
        padding-top: 9.2%;
        padding-bottom: 14.2;
        padding-left: 14.2%;
        padding-right: 16.2;
        margin: 8.9px 6.5px;
        /*background-color: aquamarine;*/
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner p,
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_title{
        font-size: 37px;
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_subtitle{
        font-size: 19px;
        font-weight: 200;
        font-weight: bold;
    }
    
    /* prep3_slider */
    .box8 .Prep3_container .prep3_box .prep3_contents_inner{
        padding-bottom: 9.2%;
        padding-top: 8.2%;
        padding-left: 14.6%;
        padding-right: 16.6%;
        margin: 8.9px 6.5px;
    /*    background-color: aquamarine;*/
    }

    .box8 .Prep3_container .prep3_box .prep3_contents_inner p{
        font-size: 38px;
    }
    
    .box8 .Prep3_container .prep3_box .prep3_ko p{
        font-size : 34px;
        padding-bottom: 4px;
    }
    
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        font-size: 15px;
    }
     

    /* prep3_list */
    .box8 .prep3_list_container .prep3_list_title_all .prep3_list_title{
        font-size:22px;
    }
    
    .box8 .prep3_list_container .prep3_list_title_all .prep3_list_subtitle{
        font-size:13px;
        font-weight:400;
    }
    
    .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents span{
        font-size: 12.5px;
        font-weight: 500;
    }
    
    .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents{
        width: 16.6666%;
        height: 75px;
    }
    
     .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents span{
        font-size: 14px;
        font-weight: 500;
    }
    
    .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents .prep3_list_txt{    
        padding-top:3px;
        /*background-color:purple;*/
}

    /* slidenav position */
    .box8 .slick-prev{
        left: -4.7%;
        top: 46%;
    }

    .box8 .slick-next{
        right: -4.7%;
        top: 46%;
    }
    
/*---------------------------------------------------------------*/
    
    /*box6_consult start*/
    .box6{
        height: 565px;
    }
    
    .box6 .consult_container{
        width: 615px;
        margin: auto;
        
        top: 8%;
    }
    
    .box6 .consult_contents{
        width: 100%;
        margin: auto;
    }
    
    .box6 .consult_txt_container{
        float: none;
        width: 100%;
    }
    
    .box6 .consult_slider_container{
        float: none;
        width: 100%;
        margin-top: 1%;
    }
    
   .box6 .consult_txt_all{
        margin-top: -2px;
        margin-bottom: 15px;
    }

    .box6 .consult_txt_main{
        width: 98%;
        padding-top: 18px;
    }

    
    /* consult_txt */
    .box6 .consult_txt_title p{
        font-size: 38px;
    }
    
    .box6 .consult_txt_subtitle p{
        font-size: 15px;
        font-weight: 500;
    }
    
    .box6 .consult_txt_main span{
        font-size: 13.5px;
        line-height: 1.9;
    }
    
    /* consult_slider*/
    .box6 .slider_indent,
    .box6 .slick-list,
    .box6 .consult_slider_item{
        width: 100%;
    }
    
    .box6 .consult_slider_item{
        margin-top: 0px;
    }
      
    .box6 .consult_slider_frame{
        height: 240px;
        width: 96.5%;
        margin: auto;
        margin-left: 14px;
        
        background-image: none;
        background-color: rgba(225,225,225,0.2);
        border: none;
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
    }
    
    .box6 .consult_slider_wrap{
        display: none;
    }
    
    .box6 .slider_indent{
        margin:auto;
        height: 280px;
        padding: 0;
        margin-top: 5.5%;
    }

    .box6 .slick-list{
        padding: 5% 0px;
    }

    .box6 .slick-track{
        margin-left: 2.8%;
    }
    
    .box6 .consult_slider_main{
        width: 60%;
        margin: auto;
    }    
    
    .box6 .consult_slider_title{
        padding-right: 4.5%;
        margin-left: 0;
    }
    
    .box6 .consult_slider_title p{
        font-size: 26px;
        font-weight: 600;
    }
    
    .box6 .consult_slider_main1{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.6;
        padding-bottom: 18px;
    }
    
    .box6 .consult_slider_main2{
        font-size: 12px;
        font-weight: 400;
        line-height: 1.65;
        
        padding-top: 20px;
    }
    
    /* slider nav*/
    .box6 .slick-prev{
        left: -5.8%;
        top: 40.5%;
        
        transform: rotate(-90deg);
    }

    .box6 .slick-next{
        left: 101.5%;
        top: 39%;

        transform: rotate(-90deg);
    }
    
    /*box6_consult end*/
/*---------------------------------------------------------------*/
    
    /*prof start*/
    .box9{
    height:445px;
}
    
    .box9 .box9_wrap{
    width:615px;
}
    
    .box9 .box9_wrap .prof_wrap .prof_title h3{
    padding-top:50px;
    font-size:38px;
}

    .box9 .box9_wrap .prof_wrap .prof_title p{
    padding-bottom:25px;
    font-size:15px;
}
    /*교수 프로필*/
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs{
    width:50%;
    padding-bottom:20px;
}
    
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_right ul li{
    font-size:10.4px;
    line-height:18px;
    font-weight:400;
    letter-spacing:0;
}
    
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_right ul{
    padding-top:25px;
}

    /*교사 이름*/
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_left .prof_box p{
    width:80%;
    margin:49px auto;
    text-align:center;
    font-size:16px;
    line-height:17px;
    border-bottom:0.5px solid rgba(255,255,255,0.9);
}
    
    .box9{
    background:url('../img/jeju_bg_prof.png') no-repeat;
    background-size:cover;
    background-position:100% 0%;
}
    /*prof end*/
/*---------------------------------------------------------------*/
    /*box10_map start*/
    .box10{
    position:relative;
    width:100%;
    overflow:hidden;
}
    
    .box10_wrap{
    width:615px;
}
    
    .box10_wrap{
    padding-top:80px;
}
    
    .box10_wrap .addrs_box{
    width:260px;
    height:350px;
}
    
    /*제목:해운대 본원*/
    .box10_wrap .addrs_box .addrs_box_title{
    margin:auto;
    width:80%;
    padding-top:40px;
    padding-bottom:7px;
    font-size:18px;
    line-height:27px;
    font-weight:bold;
    text-align:center;
    border-bottom:1px solid #ffffff;
}
    
    .box10_wrap .addrs_box .addrs_box_title h3{
    padding-top:7px;
    border-top:1.5px solid #ffffff;
}
    
    .box10_wrap .addrs_box .addrs_box_contact{
    width:72%;
        
    /*background:red;*/
}
    
    /*제목:연락처*/
    .box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_title{
    padding-top:20px;
    position:relative;
    font-weight:500;
    font-size:19px;
    
    /*background-color:blue;*/
}
    
    /*제목:연락처*/
    .box10_wrap .addrs_box .addrs_box_time .addrs_box_time_title{
    padding-top:15px;
    position:relative;
    font-weight:500;
    font-size:19px;
    
    /*background-color:blue;*/
}

    /*arrow img1*/
    .box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_title img{
    float:left;
    position:absolute;
    top:29px;
    left:-10px;
}
    
    /*arrow img2*/
    .box10_wrap .addrs_box .addrs_box_time .addrs_box_time_title img{
    float:left;
    position:absolute;
    top:25px;
    left:-10px;
}

    .box10_wrap .addrs_box .addrs_box_time{
    width:72%;
}
    
    /*detailed txt*/
    .box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_left{
    font-size:15px;
    font-weight:400;
    float:left;
    width:25%;
    padding-left:5%;
    line-height:20px;
}
    
    .box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_right{
    width:60%;
    padding-left:7%;
    font-weight:400;
    line-height:20px;
}
     
    /*detailed txt*/
    .box10_wrap .addrs_box .addrs_box_time .addrs_box_time_left{
    font-size:15px;
    font-weight:400;
    float:left;
    width:25%;
    padding-left:5%;
    line-height:20px;
}
    
    .box10_wrap .addrs_box .addrs_box_time .addrs_box_time_right{
    width:60%;
    padding-left:7%;
    font-weight:400;
    line-height:20px;
}
    
    .box10{
    background:url('../img/jeju_bg_map_2.jpg') no-repeat center;
    background-size:cover;
}
    /*box10_map end*/
/*---------------------------------------------------------------*/
    /*box11_ask & footer start*/
    .box11{
    height:355px;
}
    
    .box11 .box11_wrap{
    width:615px;
}
    /*ask start*/
    
    /*제목:문의하기*/
    .box11 .box11_wrap .ask_form_title{
    font-size:38px;
    padding-top:45px;
    line-height:42px;
}

    /*소제목:자세한...*/
    .box11 .box11_wrap .ask_form_subtitle{
    font-size:15px;
    font-weight:500;
    padding-top:0px;
    padding-bottom:12px;
}
    
    /*전체 박스*/
    .box11 .box11_wrap .ask_form_boxes form .form_box{
    height:30px;
    padding-top:13px;
    margin-top:5px;
}
    /*세부 박스*/
    .box11 .box11_wrap .ask_form_boxes form .form_box4{
    height:78px;
}
    
    .box11 .box11_wrap .ask_form_boxes form .form_box2, .form_box4{
    width:64.2%;
}
    
    /*전체 input*/
    .box11 .box11_wrap .ask_form_boxes .form_box input{
    font-size:12.5px;
    font-weight:400;
}
    /*textarea 폰트 사이즈*/
    .box11 .box11_wrap .ask_form_boxes form .form_box4 .form_box4_inner textarea{
    font-size:12.5px;
    font-weight:400;
}
    
    /*보내기 button*/
    .box11 .box11_wrap .ask_form_boxes form .form_button{
    width:12.24%;
    height:30px;
    font-size:12px;
    margin-top:12px;
    font-weight:400;
}
    /*ask end*/
/*---------------------------------------------------------------*/
    /*footer start*/
    .box12{
        height:100px;
    }
    
    .box12 .footer{
    width:615px;
    height:100px;
    position:relative;
    font-weight:300;
}
    
    .box12 .footer .footer_wrap{
    width:100%;
    position:absolute;
    bottom:20px;
}
    
    .box12 .footer .footer_wrap .footer_copyright{
    width:33.5%;
}

    .box12 .footer .footer_wrap .footer_contact_wrap{
    width:60%;
}
    /*footer end*/

    
}/*max-width:850px end*/
/*-----------------------------------------------------------------------------------------------*/

/*max-width:1024px(tablet 가로)*/
@media screen and (min-width:851px) and (max-width:1024px){ /*---------------------------------------*/
    /*box1_header start*/
    .box1 .header_busan a{
    font-size:16px;
    height:41px;
    padding-top:18px;
    font-weight:700;
}
    
    .box1 .header_marin a{
    font-size:16px;
    height:41px;
    padding-top:18px;
    font-weight:700;
}
    
    .box1 .header_jeju a{
    font-size:16px;
    height:41px;
    padding-top:18px;
    font-weight:700;
}
    /*box1_header end*/
/*---------------------------------------------------------------*/
    /*box2_logo start*/
    .box2 .busan_bg_logo{
    width:220px;
    height:55.88px;
    margin-top:32px;
    
    /*고정형 레이아웃*/
    position:absolute;
    left:50%;
    margin-left:-110px;

    background-size:contain;
}
    
    /*box2_logo end*/
/*---------------------------------------------------------------*/
    /*box3_menu start*/
    .box3 .menu_wrap{
        width:740px;
}
    
    .box3 .menu_wrap .menus a{
    font-size:14px;
    padding-top:20px;
    height:38px;
    font-weight:600;
}
    
    .box3 .menu_wrap .menu7 a{
    font-size:10.5px;
    padding-top:16px;
    height:43px;
    line-height:1.3em;
}
    
    .box3 .menu_wrap .menu8 a{
    font-size:10.5px;
    padding-top:16px;
    height:43px;
    line-height:1.3em;
}
    
    .box3 .menu_wrap .menu9 a{
    font-size:10.5px;
    padding-top:16px;
    height:43px;
    line-height:1.3em;
}
    
    .box3 .menu_wrap .menu8 a{
    background-size:contain;
}
    
    .box3-clone .menu_wrap{
    width:740px;
}
    
    .box3-clone .menu_wrap .menus a{
    font-size:13px;
    letter-spacing:0.03em;
    padding-top:11px;
}
    
    .box3-clone .menu_wrap .menu7 a{
    height:31px;
    font-size:10px;
    font-weight:400;
    line-height:1.1em;
    padding-top:9px;
}

    .box3-clone .menu_wrap .menu7 a span{
    font-size:9.5px;
}
    
    .box3-clone .menu_wrap .menu8 a{
    height:31px;
    font-size:10px;
    font-weight:400;
    line-height:1.1em;
    padding-top:9px;
}

    .box3-clone .menu_wrap .menu8 a span{
    font-size:9.5px;
}
    
    .box3-clone .menu_wrap .menu9 a{
    height:31px;
    font-size:10px;
    font-weight:400;
    line-height:1.1em;
    padding-top:9px;
}

    .box3-clone .menu_wrap .menu9 a span{
    font-size:9.5px;
}
    
    .box3-clone .menu_wrap .jb_logo_white a img{
    width:55px;
    padding-top:15px;
}
    /*box3_menu end*/
/*---------------------------------------------------------------*/
    /*box4_video start*/
    .box4{
    height:401px;
    
    position:relative;
}
    .box4 .video_container{
    width:740px;
    padding-top:100px;
    position:absolute;
    top:0px;
    left:50%;
    margin-left:-370px;
        
    /*background-color:blue;*/
}
    
    .box4 .video_container .video_txt_1{
    font-size:40px;
    font-weight:700;
}
    
    .box4 .video_container .video_txt_2{
    font-size:40px;
    font-weight:700;
    line-height:30px;
    padding-left:114px;
}
    
    .box4 .video_container .button1{
    font-size:17px;
    font-weight:500;
    padding-top:13px;
    padding-left:114px;
}
    
    .box4 .video_container .button1 a{
    width:153.2px;
    height:40px;
}
    
    .box4 .video_container .button1 a p{
    margin-top:7px;
}
    
    .box4 .video_container .button2{
    font-size:17px;
    font-weight:500;
    padding-top:8px;
    padding-left:114px;
}
    
    .box4 .video_container .button2 a{
    width:153.2px;
    height:40px;
}
    
    .box4 .video_container .button2 a .button2_contents{
    width:88px;
    height:20px;
    margin:auto;
    margin-top:10.5px;
    
    /*background-color:darkviolet;*/
}
    
    .box4 .video_container .button2 a .button2_contents p{
    padding-top:0px;
    line-height:17px;
    
}
    
    .box4 .video_container .button2 a .button2_contents img{
    margin-right:1px;
    padding-top:0px;
    transform:scale(0.8,0.8);
    
    /*background-color:red;*/
}
    /*box4_video end*/
    
/*---------------------------------------------------------------*/
/*ad_1 start*/

/*컨텐츠 제목 & 소제목*/
.box7 .ad1_title{
    width:740px;
}
    
.box7 .ad1_title ul li h3{
    font-size:38px;
}
    
.box7 .ad1_title ul li p{
    font-size:15px;
}
/*-----------------*/

.box7 .ad1_contents_wrap{
    width:740px;
}

/*컨텐츠 서체크기 통일화 2*/
 .box7 .ad1_contents_wrap .ad1_contents_box .ad1_contents_inner span{
     font-size:13px;
 }
 
 /*-----------------*/

/*contents1*/

.box7 .ad1_contents_wrap .ad1_contents_1 .ad1_contents_inner{
    padding-top:18px;
    padding-left:30px;
}

.box7 .ad1_contents_wrap .ad1_contents_1 .ad1_contents_inner .floating{
    font-size:29px;
    line-height:37px;
    margin-right:12px;
    padding-top:26px;
}

.box7 .ad1_contents_wrap .ad1_contents_1 .ad1_contents_inner .ad1_span{
    width:54%;
    margin-left:10px;
    padding-top:7px;
}
    
.box7 .ad1_contents_wrap .ad1_contents_1 .ad1_contents_inner .slash_image{
    display:none;
}


/*contents2*/
.box7 .ad1_contents_wrap .ad1_contents_2{
    width:30%;
    height:307px;
    margin-top:18px;
}
    
.box7 .ad1_contents_wrap .ad1_contents_2 .ad1_contents_inner{
    padding-left:30px;
    padding-top:25px;
}


.box7 .ad1_contents_wrap .ad1_contents_2 .ad1_contents_inner .floating{
    font-size:23px;
    line-height:32px;
}

.box7 .ad1_contents_wrap .ad1_contents_2 .ad1_contents_inner .ad1_span{
    width:85%;
    hyphens:auto;
    word-break:normal;
}

/*contents3*/
.box7 .ad1_contents_wrap .ad1_contents_3{
    width:67%;
    height:164px;
    float:right;
    margin-top:18px;
}

.box7 .ad1_contents_wrap .ad1_contents_3 .ad1_contents_inner{
    padding-top:25px;
    padding-left:25px;
}
    
.box7 .ad1_contents_wrap .ad1_contents_3 .ad1_contents_inner br{
    display:none;
}

.box7 .ad1_contents_wrap .ad1_contents_3 .ad1_contents_inner .floating{
    font-size:18px;
    line-height:26px;
    padding-top:7px;
    width:35%;
}


.box7 .ad1_contents_wrap .ad1_contents_3 .ad1_contents_inner .ad1_span{
    width:58%;
    margin-left:10px;
    padding-top:0px;
}

/*contents4*/
.box7 .ad1_contents_wrap .ad1_contents_4{
    width:67%;
    height:123px;
    float:right;
    margin-top:18px;
}

.box7 .ad1_contents_wrap .ad1_contents_4 .ad1_contents_inner{
    padding-top:16px;
    padding-left:25px;
}

.box7 .ad1_contents_wrap .ad1_contents_4 .ad1_contents_inner .floating{
    font-size:18px;
    line-height:26px;
    padding-top:20px;
    width:29%;
}


.box7 .ad1_contents_wrap .ad1_contents_4 .ad1_contents_inner .ad1_span{
    width:58%;
    margin-left:35px;
    padding-top:0px;
}

/*contents5*/
.box7 .ad1_contents_wrap .ad1_contents_5{
    width:48.5%;

}

.box7 .ad1_contents_wrap .ad1_contents_5 .ad1_contents_inner{
    padding-top:21px;
    padding-left:30px;
}

.box7 .ad1_contents_wrap .ad1_contents_5 .ad1_contents_inner .floating{
    font-size:20px;
    line-height:28px;
    padding-top:0px;
    padding-bottom:7px;
    float:none;
    width:92%;
}
    
.box7 .ad1_contents_wrap .ad1_contents_5 .ad1_contents_inner .floating br{
    display:none;
}


.box7 .ad1_contents_wrap .ad1_contents_5 .ad1_contents_inner .ad1_span{
    width:92%;
    margin-left:0px;
    float:none;
}

/*contents6*/
.box7 .ad1_contents_wrap .ad1_contents_6{
    width:48.5%;
}

.box7 .ad1_contents_wrap .ad1_contents_6 .ad1_contents_inner{
    padding-top:21px;
    padding-left:30px;
}

.box7 .ad1_contents_wrap .ad1_contents_6 .ad1_contents_inner .floating{
    font-size:20px;
    line-height:28px;
    padding-top:0px;
    padding-bottom:7px;
    float:none;
    width:92%;
}
    
.box7 .ad1_contents_wrap .ad1_contents_6 .ad1_contents_inner .floating br{
    display:none;
}


.box7 .ad1_contents_wrap .ad1_contents_6 .ad1_contents_inner .ad1_span{
    width:92%;
    margin-left:0px;
    float:none;
}
    
.box7{
    background:url('../img/jeju_bg_ad_1.png') no-repeat;
    background-size:cover;
    background-position: 85% 0%;
}
    


/*box7_ad1 end*/
    
/*---------------------------------------------------------------*/
    /*box8_prep & ad2 start*/
    .box8{
    height:1160px;
}
    
    /* Prep start */
    .box8 .Prep1_title,
    .box8 .Prep3_title{
        width: 740px;
    }
    
    /* hover off */
    .box8 .multi_slider .prep1_contents_inner:hover{
        background: url('../img/jeju_prep2_box_line.png') no-repeat center;
        background-size: contain;
    }
    
    .box8 .multi_slider .prep3_contents_inner:hover{    
        background: url('../img/jeju_prep1_box_line.png') no-repeat center;
        background-size: contain;
    }
    
    
    /* prep frame setting */
    .box8 .Prep1_container,
    .box8 .Prep3_container,
    .box8 .prep3_list_container{
        width: 740px;
    }
    
    /* 공통 */
    .box8 .Prep1_title ul li h3,
    .box8 .Prep3_title ul li h3{
        font-size: 38px;
    }
    
    .box8 .Prep1_title ul li p,
    .box8 .Prep3_title ul li p{
        font-size: 15px;
        margin-top: -3px;
        font-weight: 500;
    }

    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span,
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        font-weight: 400;
        margin-top: 12px;
    }
 
    .box8 .Prep1_title{
        padding-top: 100px;
    }
    
    .box8 .Prep3_title{
        padding-top: 47px;
    }
   
    /* prep1 */
    .box8 .Prep1_container .prep1_box .prep1_contents_inner{
        padding-bottom: 12.2%;
        padding-top: 11.2%;
        padding-left: 12.6%;
        padding-right: 15.6%;
        margin: 8.9px 6.5px;
    /*    background-color: aquamarine;*/
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner p,
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_title{
        font-size: 34px;
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_subtitle{
        font-size: 16px;
        font-weight: 200;
        
        margin-left: -4px;
    }
   
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span{
        font-size: 12px;
    }
    /* prep3_slider */
    
    /* prep3_list */
    .box8 .Prep3_container .prep3_box .prep3_contents_inner{
        padding-bottom: 10.2%;
        padding-top: 7.2%;
        padding-left: 9.6%;
        padding-right: 10.6%;
        margin: 8.9px 6.5px;
    /*    background-color: aquamarine;*/
    }
    
    .box8 .Prep3_container .prep3_box .prep3_contents_inner p{
        font-size: 38px;
    }
    
    .box8 .Prep3_container .prep3_box .prep3_ko p{
        font-size : 34px;
        padding-bottom: 4px;
    }
    
    
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        font-size: 14px;
    }
    
    
    .box8 .prep3_list_container .prep3_list_title_all .prep3_list_title{ 
        font-size:23px;
        
        /*background-color:aqua;*/
    }
    
    .box8 .prep3_list_container .prep3_list_title_all{
        margin-top: 10px;
    }
    
    .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents{
        height: 80px;
    }
    
    .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents .prep3_list_txt{    
        padding-top:3px;
    }

    .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents span{
        font-size: 16px;
        font-weight: 500;
    }
    
    /* slidenav position */
    .box8 .slick-prev{
        left: -4.7%;
        top: 46%;
    }

    .box8 .slick-next{
        right: -4.7%;
        top: 46%;
    }
    /* Prep end */
    
/*---------------------------------------------------------------*/
    
    /*box6_consult start*/
    .box6{
        height: 565px;
    }
    
    .box6 .consult_container{
        width: 740px;
        margin: auto;
        
        top: 7%;
    }
    
    .box6 .consult_contents{
        width: 100%;
        margin: auto;
    }
    
    .box6 .consult_txt_container{
        float: none;
        width: 100%;
    }
    
    .box6 .consult_slider_container{
        float: none;
        width: 100%;
        margin-top: 2%;
    }
    
   .box6 .consult_txt_all{
        margin-top: -2px;
        margin-bottom: 15px;
    }

    .box6 .consult_txt_main{
        width: 98%;
        padding-top: 18px;
    }

    /* consult_txt */
    .box6 .consult_txt_title p{
        font-size: 38px;
    }
    
    .box6 .consult_txt_subtitle p{
        font-size: 15px;
        font-weight: 500;
    }
    
    .box6 .consult_slider_main1{
        font-weight: 500;
    }
    
    .box6 .consult_txt_main span{ 
        font-size: 13.5px;
        line-height: 1.9;
    }
    
    /* consult_slider*/
    .box6 .slider_indent,
    .box6 .slick-list,
    .box6 .consult_slider_item{
        width: 100%;
    }
    
    .box6 .consult_slider_item{
        margin-top: 0px;
    }
    
    .box6 .consult_slider_title{
        margin-left: 5.3%;   
    }
    
    .box6 .consult_slider_frame{
        height: 260px;
        width: 715px;
        margin: auto;
        margin-left: 13px;
        
        background-image: none;
        background-color: rgba(225,225,225,0.2);
        border: none;
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
    }
    
    .box6 .consult_slider_wrap{
        display: none;
    }
    
    .box6 .slider_indent{
        margin:auto;
        height: 280px;
        padding: 0px;
        margin-top: 4.2%;   
    }

    .box6 .slick-list{
        padding: 4.3% 0px;
    }

    .box6 .slick-track{
        margin-left: 2.8%;
    }
    .box6 .consult_slider_main{
        width: 50%;
        margin: auto;
    }    
    
    .box6 .consult_slider_title{
        padding-right: 5%;
    }
    
    .box6 .consult_slider_title p{
        font-size: 26px;
        font-weight: 600;
    }
    .box6 .consult_slider_main1{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
    }
    
    /* slider nav*/
    .box6 .slick-prev{
        left: -5%;
        top: 43%;

        transform: rotate(-90deg);
    }

    .box6 .slick-next{
        left: 100.7%;
        top: 43%;

        transform: rotate(-90deg);
    }
    
    /*box6_consult end*/
/*---------------------------------------------------------------*/
    
    /*prof start*/
    
    /*제목: Professor Profile*/
    .box9{
        height:435px;
    }
    
    .box9 .box9_wrap{
        width:740px;
    }
    
    .box9 .box9_wrap .prof_wrap .prof_title h3{
    padding-top:57px;
    font-size:38px;
}
    
    .box9 .box9_wrap .prof_wrap .prof_title p{
    padding-bottom:25px;
    font-size:15px;
}
    
    /*교사 이름*/
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_left .prof_box p{
    font-size:18px;
    line-height:18px;
}
    
    /*교수 프로필*/
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs{
    width:33.3333%;
    padding-bottom:20px;
}
    
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_left{
    float:none;
    width:95%;
}

    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_right{
    float:none;
}   
    
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_right ul li{
    font-size:12.5px;
    line-height:22px;
}
    
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_right ul{
    padding-top:10px;
}
    
    /*교사 이름*/
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_left .prof_box p{
    width:70%;
    margin:48px auto;
    text-align:center;
    font-size:19px;
    line-height:19px;
    border-bottom:0.5px solid rgba(255,255,255,0.9);
}
    
    .box9{
    background:url('../img/jeju_bg_prof.png') no-repeat;
    background-size:cover;
    background-position:3% 0%;
}
    /*prof end*/
/*---------------------------------------------------------------*/
    /*box10_map start*/
    .box10_wrap{
        width:740px;
}
    
    .box10_wrap{
    padding-top:80px;
}
    
    .box10_wrap .addrs_box{
    width:260px;
    height:350px;
}
    
    /*제목:제주 프런티어 러닝센터*/
    .box10_wrap .addrs_box .addrs_box_title{
    margin:auto;
    width:80%;
    padding-top:35px;
    padding-bottom:7px;
    font-size:18px;
    line-height:27px;
    font-weight:bold;
    text-align:center;
    border-bottom:1px solid #ffffff;
    
    /*background-color:blueviolet;*/
}
    
    .box10_wrap .addrs_box .addrs_box_title h3{
    padding-top:7px;
    border-top:1.5px solid #ffffff;
}
    
    .box10_wrap .addrs_box .addrs_box_contact{
    width:72%;
        
    /*background:red;*/
}
    
    /*제목:연락처*/
    .box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_title{
    padding-top:20px;
    position:relative;
    font-weight:500;
    
    /*background-color:blue;*/
}
    
    /*arrow img1*/
    .box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_title img{
    float:left;
    position:absolute;
    top:30px;
    left:-10px;
    
    /*background-color:green;*/
}
    
    /*arrow img2*/
    .box10_wrap .addrs_box .addrs_box_time .addrs_box_time_title img{
    float:left;
    position:absolute;
    top:30px;
    left:-10px;
    
    /*background-color:green;*/
}
    
    .box10_wrap .addrs_box .addrs_box_time{
    width:72%;
}
    
    /*detailed txt*/
    .box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_left{
    font-size:15px;
    font-weight:400;
    float:left;
    width:25%;
    padding-left:5%;
    
    /*background-color:skyblue;*/
}
    
    .box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_right{
    width:60%;
    padding-left:7%;
    font-weight:400;
    
    /*background-color:darkblue;*/
}
     
    /*detailed txt*/
    .box10_wrap .addrs_box .addrs_box_time .addrs_box_time_left{
    font-size:15px;
    font-weight:400;
    float:left;
    width:25%;
    padding-left:5%;
    
    /*background-color:skyblue;*/
}
    
    .box10_wrap .addrs_box .addrs_box_time .addrs_box_time_right{
    width:60%;
    padding-left:7%;
    font-weight:400;
    
    /*background-color:darkblue;*/
}
    
    .box10{
    background:url('../img/jeju_bg_map_2.jpg') no-repeat center;
    background-size:cover;
}
    
    /*box10_map end*/
/*---------------------------------------------------------------*/
    /*box11_ask start*/
    .box11{
    height:385px;
}
    
    .box11 .box11_wrap{
    width:740px;
}
    /*ask start*/
    
    /*제목:문의하기*/
    .box11 .box11_wrap .ask_form_title{
    font-size:38px;
    padding-top:45px;
}

    /*소제목:자세한...*/
    .box11 .box11_wrap .ask_form_subtitle{
    font-size:15px;
    font-weight:500;
    padding-top:0px;
}
    
    /*전체 박스*/
    .box11 .box11_wrap .ask_form_boxes form .form_box{
    height:30px;
    padding-top:13px;
    margin-top:5px;
}
    /*세부 박스*/
    .box11 .box11_wrap .ask_form_boxes form .form_box4{
    height:78px;
}
    
    /*전체 input*/
    .box11 .box11_wrap .ask_form_boxes .form_box input{
    font-size:13px;
    font-weight:400;
}
    /*textarea 폰트 사이즈*/
    .box11 .box11_wrap .ask_form_boxes form .form_box4 .form_box4_inner textarea{
    font-size:13px;
    font-weight:400;
}
    
    /*보내기 button*/
    .box11 .box11_wrap .ask_form_boxes form .form_button{
    width:12.24%;
    height:35px;
    font-size:14px;
    margin-top:16px;
    font-weight:400;
}
    /*ask end*/
/*---------------------------------------------------------------*/
    /*footer start*/
    .box12{
    height:100px;    
}
    
    .box12 .footer{
    width:740px;
    height:100px;
    position:relative;
    font-weight:300;
        
    /*background-color:deepskyblue;*/
}
    
    .box12 .footer .footer_wrap{
    width:100%;
    position:absolute;
    bottom:20px;
    
    /*background-color:orange;*/
}
    
    .box12 .footer .footer_wrap .footer_copyright{
    width:33.5%;
}

    .box12 .footer .footer_wrap .footer_contact_wrap{
    width:50%;
}
    
    .box12 .footer .footer_wrap .footer_contact_wrap .footer_contact{
    padding-left:1.5%;
    padding-right:3%;
}
    /*footer end*/
}/*max-width:1024px end*/
/*-----------------------------------------------------------------------------------------------*/


/*max-width:1300px(1300px 이하 _ 1st break point)*/
@media screen and (min-width:1025px) and (max-width:1300px) { /*---------------------------------------*/
    
    /*box1_header start*/
    .box1 .header_busan a{
    font-size:18px;
    height:42px;
    padding-top:17px;
}
    
    .box1 .header_marin a{
    font-size:18px;
    height:42px;
    padding-top:17px;
}
    
    .box1 .header_jeju a{
    font-size:18px;
    height:42px;
    padding-top:17px;
}
    /*box1_header end*/
    
    /*---------------------------------------------------------------*/
    
    /*box2_logo start*/
    .box2 .busan_bg_logo{
    width:220px;
    height:55.88px;
    margin-top:32px;
    
    /*고정형 레이아웃*/
    position:absolute;
    left:50%;
    margin-left:-110px;

    background-size:contain;
}
    /*box2_logo end*/

    /*---------------------------------------------------------------*/
    
    /*box3_menu start*/
    
    .box3 .menu_wrap{
        width:940px;
}
    
    .box3 .menu_wrap .menus a{
    font-size:16px;
    padding-top:17px;
}
    
    .box3 .menu_wrap .menu7 a{
    font-size:12.5px;
    padding-top:17px;
}
    
    .box3 .menu_wrap .menu8 a{
    font-size:12.5px;
    padding-top:17px;
}
    
    .box3 .menu_wrap .menu9 a{
    font-size:12.5px;
    padding-top:17px;
}
    
    .box3 .menu_wrap .menu8 a{
    background-size:contain;
}
    
    .box3-clone .menu_wrap{
    width:940px;
}
    /*box3_menu end*/
    
    /*---------------------------------------------------------------*/
    
    /*box4_video start*/
    
    .box4 .video_container{
        width:940px;
        position:absolute;
        top:0px;
        left:50%;
        margin-left:-470px;
}
    /*box4_video end*/
    
    /*---------------------------------------------------------------*/
    
    /*ad_1 start*/

/*컨텐츠 제목 & 소제목*/
.box7 .ad1_title{
    width:940px;
}
    
.box7 .ad1_title ul li h3{
    font-size:38px;
    line-height:38px;
}
    
.box7 .ad1_title ul li p{
    font-size:15px;
}
/*-----------------*/

.box7 .ad1_contents_wrap{
    width:940px;
}

/*컨텐츠 서체크기 통일화 2*/
 .box7 .ad1_contents_wrap .ad1_contents_box .ad1_contents_inner span{
     font-size:13px;
 }
 
 /*-----------------*/

/*contents1*/

.box7 .ad1_contents_wrap .ad1_contents_1 .ad1_contents_inner{
    padding-top:18px;
}

.box7 .ad1_contents_wrap .ad1_contents_1 .ad1_contents_inner .floating{
    font-size:33px;
    line-height:42px;
    margin-right:12px;
    padding-top:22px;
}

.box7 .ad1_contents_wrap .ad1_contents_1 .ad1_contents_inner .ad1_span{
    width:43%;
    margin-left:25px;
    padding-top:7px;
}

.box7 .ad1_contents_wrap .ad1_contents_1 .ad1_contents_inner .slash_image{
    margin-top:27px;
}


/*contents2*/

.box7 .ad1_contents_wrap .ad1_contents_2 .ad1_contents_inner .floating{
    font-size:27px;
    line-height:38px;
}

.box7 .ad1_contents_wrap .ad1_contents_2 .ad1_contents_inner .ad1_span{
    width:81%;
}

/*contents3*/

.box7 .ad1_contents_wrap .ad1_contents_3 .ad1_contents_inner{
    padding-top:21px;
}

.box7 .ad1_contents_wrap .ad1_contents_3 .ad1_contents_inner .floating{
    font-size:20px;
    line-height:28px;
    padding-top:20px;
}


.box7 .ad1_contents_wrap .ad1_contents_3 .ad1_contents_inner .ad1_span{
    width:48%;
}

/*contents4*/

.box7 .ad1_contents_wrap .ad1_contents_4 .ad1_contents_inner{
    padding-top:15px;
}

.box7 .ad1_contents_wrap .ad1_contents_4 .ad1_contents_inner .floating{
    font-size:20px;
    line-height:28px;
    padding-top:18px;
}


.box7 .ad1_contents_wrap .ad1_contents_4 .ad1_contents_inner .ad1_span{
    width:48%;
    margin-left:126px;
}

/*contents5*/

.box7 .ad1_contents_wrap .ad1_contents_5 .ad1_contents_inner{
    padding-top:27px;
}

.box7 .ad1_contents_wrap .ad1_contents_5 .ad1_contents_inner .floating{
    font-size:20px;
    line-height:28px;
    padding-top:16px;
}


.box7 .ad1_contents_wrap .ad1_contents_5 .ad1_contents_inner .ad1_span{
    width:50%;
    margin-left:58px;
}

/*contents6*/

.box7 .ad1_contents_wrap .ad1_contents_6 .ad1_contents_inner{
    padding-top:27px;
}

.box7 .ad1_contents_wrap .ad1_contents_6 .ad1_contents_inner .floating{
    font-size:20px;
    line-height:28px;
    padding-top:16px;
}


.box7 .ad1_contents_wrap .ad1_contents_6 .ad1_contents_inner .ad1_span{
    width:51%;
    margin-left:50px;
}

/*ad_1 end*/
    
    /*---------------------------------------------------------------*/
    
    /*box8_prep & ad2 start*/
    .box8{
        height:1200px;

        /* 자간벙벙해서 끕니다 */
        letter-spacing: 0.03em;
    }

    /* Prep start*/
    .box8 .ad_2_wrap .ad2_title{
        width:940px;
    }
    
    .box8 .ad2_contents_wrap{
        width:940px;
    }

    .box8 .ad2_contents_wrap .ad2_contents_box{
    padding-top:50px;
    height:205px;
    
    /*background-color:orange;*/
    }
    
    /*컨텐츠 서체크기 통일화 1*/
    .box8 .ad2_contents_wrap .ad2_contents_box .ad2_contents_inner p{
    font-size:35px;
    padding-bottom:10px;
    
    /*background-color:blue;*/
    }
    
    .box8 .ad2_contents_wrap .ad2_contents_3{
    margin-top:15px;
    height:290px;
    }

    .box8 .ad2_contents_wrap .ad2_contents_4{
    margin-top:15px;
    height:290px;
    }
    
    
    
    .box8 .Prep1_title,
    .box8 .Prep3_title{
        width: 940px;
    }
    
    .box8 .Prep1_title ul li h3,
    .box8 .Prep3_title ul li h3{
        font-size:38px;
    }

    .box8 .Prep1_title ul li p,
    .box8 .Prep3_title ul li p{
        font-size:15px;
        margin-top: -2px;
    }
    
    /* prep frame setting */
    .box8 .Prep1_container,
    .box8 .Prep3_container,
    .box8 .prep3_list_container{
        width: 940px;
    }
    
    /* 공통 */
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span,
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        margin-top: 18px;
    /*    background-color:green;*/
    }
    
    .box8 .Prep1_title{
        padding-top: 122px;
    }
    
    .box8 .Prep3_title{
        padding-top: 58px;
    }
   
    /* prep1 */
    .box8 .Prep1_container .prep1_box .prep1_contents_inner{
        padding: 9.2% 10.6%;
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span{
        font-size: 12px;
        font-weight: 400;
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner p,
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_title{
        font-size: 34px;
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_subtitle{
        font-size: 16px;
        font-weight: 200;
        margin-left: -4px;
    }
    
    
    /* prep3 */
    .box8 .Prep3_container .prep3_box .prep3_contents_inner{
        padding-left: 8.6%;
        padding-right: 9%;
        padding-bottom: 12%;
        padding-top: 8%;
    }
    
    .box8 .Prep3_container .prep3_box .prep3_contents_inner p{
        font-size: 35px;
    }
    
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        font-size: 14px;
    }
    
    .box8 .prep3_list_container .prep3_list_title_all{
        margin-top: 20px;
    }
    
    .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents{
        height: 77px;
    }
    
    .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents span{
        font-size: 16px;
        font-weight: 500;
    }
    
     /* slidenav position */
    .box8 .slick-prev{
        left: -3.7%;
        top: 45%;
    }

    .box8 .slick-next{
        right: -3.7%;
        top: 45%;
    }

    /*---------------------------------------------------------------*/
    
    /*box6_consult start*/
    .box6{
        height: 525px;
    }
    
    .box6 .consult_txt_all{
        margin-top: 45px;
        margin-bottom: 28px;
    }

    .box6 .consult_txt_main{
        width: 75%;
        padding-top: 30px;
    }
    
    .box6 .consult_contents{
        width: 940px;
        padding-top:9px;
    }
    
    .box6 .consult_txt_container{
        padding: 0 15px;

        float: left;
        width: 413px;
    /*    background: blue;*/
    }
    
    .box6 .consult_slider_container{
        float: left;
        width: 483px;
    /*    background: red;*/
    }
    
    .box6 .slider_indent,
    .box6 .slick-list,
    .box6 .consult_slider_item{
        width: 483px;
    }
    
    .box6 .consult_slider_frame{
        width: 483px;
        margin-top: 9px;
        background-color: rgba(225,225,225,0.1);
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
    }
    
    .box6 .consult_slider_wrap{
        position: absolute;
        width: 744px;
        top: -48px;
        margin-left: 315px;
        
        background: url('../img/jeju_consult_frame_1300.png') no-repeat center;
    }
    
    .box6 .slider_indent{
        padding: 20px 0px;
    }
    
    .box6 .slick-list{
        padding: 38px 0px;
    }
    
    .box6 .consult_slider_title{
        padding-right: 10%;
        margin-left: 3.5%;
    }
    
    .box6 .consult_slider_title p{
        font-size: 28px;
    }
    .box6 .consult_slider_main1{
        font-size: 15px;
    }
    
    .box6 .consult_slider_main2{
        font-size: 12px;
    }
    
    .box6 .consult_slider_item{
    
        margin-top: 14px;
        /*background-color: darkgreen;*/
    }
    
    .box6 .slick-prev{
        left: 48%;
        top: 0.1%;
    }

    .box6 .slick-next{
        left: 48%;
        top: 97%;
    }
    
    /*box6_consult end*/
    
    /*---------------------------------------------------------------*/
    
    /*prof start*/
    .box9{
        height:450px;
    }
    
    .box9 .box9_wrap{
        width:940px;
    }
    
    /*제목: Professor Profile*/
    .box9 .box9_wrap .prof_wrap .prof_title h3{
    font-size:38px;
    line-height:38px;
    padding-top:62px;
}
    
    .box9 .box9_wrap .prof_wrap .prof_title p{
    padding-bottom:25px;
    font-size:15px;
}
    
    /*교수 프로필*/
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs{
    width:33.3333%;
    padding-bottom:20px;
}
    
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_left{
    float:none;
    width:95%;
}

    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_right{
    float:none;
}   
    
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_right ul li{
    font-size:13px;
    line-height:23px;
}
    
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_right ul{
    padding-top:10px;
}
    
    /*교사 이름*/
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_left .prof_box p{
    width:70%;
    margin:48px auto;
    text-align:center;
    font-size:19px;
    line-height:19px;
    border-bottom:0.5px solid rgba(255,255,255,0.9);
}
    
    .box9{
    background:url('../img/jeju_bg_prof_1300-01.jpg') no-repeat left;
    background-size:cover;
}
    /*prof end*/
    /*---------------------------------------------------------------*/
    
    /*box10_map start*/
    .box10_wrap{
    width:940px;
}
    
    .box10_wrap{
    padding-top:70px;
}
    
    .box10{
    background:url('../img/jeju_bg_map_2.jpg') no-repeat center;
    background-size:cover;
}
    /*box10_map end*/
    
    /*---------------------------------------------------------------*/
    
    /*box11_ask & footer start*/
    .box11 .box11_wrap{
    width:940px;
}
    
    /*제목:문의하기*/
    .box11 .box11_wrap .ask_form_title{
    font-size:38px;
    line-height:38px;
}
    
    /*소제목:자세한...*/
    .box11 .box11_wrap .ask_form_subtitle{
    font-size:15px;
}
    
    /*ask start*/
    .box11 .box11_wrap .ask_form_boxes form .form_box{
    padding-left:1.9%;
}
    /*ask_end*/
    /*---------------------------------------------------------------*/
    /*footer start*/
    .box12{
    height:100px;
}
    
    .box12 .footer{

    height:100px;
}
    
    .box12 .footer{
    width:940px;
}
    
    .box12 .footer .footer_wrap{
    width:100%;
    position:absolute;
    bottom:20px;
}
    /*footer end*/

}/*max-width:1300px end*/
/*-----------------------------------------------------------------------------------------------*/

@media screen and (min-width:1301px){
    
    .box4 video{
    object-fit:cover;
}
}/*min-width:1300px end*/
/*-----------------------------------------------------------------------------------------------*/
