@charset "UTF-8";

/*---------------------------------------------------------------*/


.box1 .header_busan{
    background:url(../img/all_header_busan.png) no-repeat center;
    background-size:cover;
}

.box1 .header_marin{
    background:url(../img/all_header_marin.png) no-repeat center;
    background-size:cover;
}

.box1 .header_jeju{
    background:url(../img/all_header_jeju.png) no-repeat center;
    background-size:cover;
}

.box2{
    background:url(../img/jeju_bg_logo.png) no-repeat center;
    background-size:cover;
}

.box2-clone{
    background:url(../img/busan_bg_logo_solid.jpg) no-repeat center;
    background-size:cover;
}

.box6{
    background: url(../img/marin_bg_consult.png) no-repeat center;
    background-size: cover; 
}

<<<<<<< HEAD
/*
=======
>>>>>>> parent of c4d5bb7... Merge branch 'master' of https://github.com/StudioRedBrick/JB_busan_code
.box6 .consult_slider_frame{
    background: url('../img/marin_consult_frame.png') no-repeat center;
    background-size: cover;
}
<<<<<<< HEAD
*/
=======
>>>>>>> parent of c4d5bb7... Merge branch 'master' of https://github.com/StudioRedBrick/JB_busan_code

.box7{
    background:url('../img/jeju_bg_ad_1.png') no-repeat;
    background-size:cover;
    background-position: 100% 0%;
}

.box8{
    background: url('../img/marin_bg_prep.png') no-repeat left; 
    background-size:cover;
}

.box9{
    background:url('../img/jeju_bg_prof.png') no-repeat right;
    background-size:cover;

}

.box10{
    background:url('../img/jeju_bg_map_2.jpg') no-repeat center;
    background-size:cover;
}

.box11{
    background:url('../img/jeju_bg_ask_form.png') no-repeat right;
    background-size:cover;
}


