@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/*reset*/
*{margin:0; padding:0;}
body{font-size:14px;}
a{text-decoration:none; color:#ffffff;}
ul, li{list-style:none;}
p, span, h1, h2, h3{hyphens:none; word-break:keep-all;}
/*reset end*/

body{
    font-family: 'Noto Sans KR', sans-serif;
    color:#2a2a2a;
    background-color:rgba(220,220,220,1);
    max-width:100%;
    overflow-x:hidden;
    height:auto;
    
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}

/*---------------------------------------------------------------*/
#wrap{
    width:90%;
    margin:30px auto 0px auto;
}

.header_wrap{
    margin-bottom:10px;
}

#button_1{
    width:28%;
    height:55px;
    background:#ffffff;
    padding: 19px 0 15px 0;
    float:left;
    margin-right:10px;
    cursor:pointer;
}

#button_1 #title_1{
    color:#606060;
    font-size:20px;
    line-height:20px;
    text-align:center;
}

#button_1 #click_1{
    background:#3288af;
    color:#ffffff;
    font-size:13px;
    width:72%;
    margin: 6px auto 0px auto;
    padding: 5px 0 5px 0;
    text-align:center;
    border-radius:2px;
}

#button_2{
    width:28%;
    height:55px;
    background:#ffffff;
    opacity:0.8;
    padding: 19px 0 15px 0;
    float:left;
    cursor:pointer;
}

#button_2:hover{
    opacity:1;
}

#button_2:hover #click_2{
    background:#3288af;
}

#button_2:hover #title_2{
    color:#606060;
}

#button_2 #title_2{
    color:#a7a7a7;
    font-size:20px;
    line-height:20px;
    text-align:center;
}

#button_2 #click_2{
    background:#a7a7a7;
    color:#ffffff;
    font-size:13px;
    width:72%;
    margin: 6px auto 0px auto;
    padding: 5px 0 5px 0;
    text-align:center;
    border-radius:2px;
}

.inner_wrap{
    width:30%;
    height:89px;
    float:right;
    position:relative;
}

#day_close_btn{
    width:40%;
    height:27px;
    background:#ffffff;
    border-radius:2px;
    cursor:pointer;
    opacity:0.8;
    
    position:absolute;
    right:16%;
    bottom:0;
}

#day_close_btn p{
    color:#7e7e7e;
    font-size:14px;
    text-align:center;
    padding-top:3px;
}

#close_btn{
    width:13%;
    height:27px;
    background:#ffffff;
    border-radius:2px;
    cursor:pointer;
    opacity:0.8;
    
    position:absolute;
    right:0;
    bottom:0;
}

#close_btn p{
    color:#7e7e7e;
    font-size:14px;
    text-align:center;
    padding-top:3px;
}

.img_wrap{
    width:100%;
    height:auto;
    position:relative;
}

.timetable_img{
    width:100%;
    position:absolute;
    left:0;
    top:0;
}

.timetable_img img{
    width:100%;
    position:absolute;
    left:0;
    top:0;
    padding-bottom:30px;
}

#timetable_2{
    display:none;
}

/*-----------------------------------*/
.header_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}
