@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/*reset*/
*{margin:0; padding:0;}
body{font-size:14px;}
a{text-decoration:none; color:#ffffff;}
ul, li{list-style:none;}
/*reset end*/

body{
    font-family: 'Noto Sans KR', sans-serif;
    color:#ffffff;
    letter-spacing:0.03em;
    background:#e5e4e2;
    width:100%;
    height:auto;
}

/*---------------------------------------------------------------*/

/*header start*/
.box1 .header_busan{
    height:59px;
    width:33.3333%;
    float:left;
}

.box1 .header_busan a{
    display:block;
    background:#3288af;
    font-size:20px;
    height:39px;
    width:100%;
    text-align:center;
    padding-top:20px;
    font-weight:300;
    letter-spacing:0.1em;
    
    opacity:1;
}

.box1 .header_marin{
    height:59px;
    width:33.3333%;
    float:left;
}

.box1 .header_marin a{
    display:block;
    background:#000000;
    color:#969696;
    font-size:20px;
    height:39px;
    width:100%;
    text-align:center;
    padding-top:20px;
    font-weight:300;
    letter-spacing:0.1em;
    
    opacity:0.6;
}

.box1 .header_marin a:hover{
    opacity:0.7; 
}

.box1 .header_jeju{
    height:59px;
    width:33.3333%;
    float:left;
}

.box1 .header_jeju a{
    display:block;
    background:#000000;
    color:#969696;
    font-size:20px;
    height:39px;
    width:100%;
    text-align:center;
    padding-top:20px;
    font-weight:300;
    letter-spacing:0.1em;
    
    opacity:0.6;
}

.box1 .header_jeju a:hover{
    opacity:0.7; 
}

/*-----------------*/

.box1:after{
    content:"";
    display:block;
    clear:both;
}
/*header end*/

/*---------------------------------------------------------------*/

/*logo start*/
.box2{
    width:100%;
    height:123px;
    position:relative;
}

.box2 .busan_bg_logo{
    background:red;
    width:248px;
    height:63px;
    margin-top:29px;
    
    
    /*고정형 레이아웃*/
    position:absolute;
    left:50%;
    margin-left:-124px;
    
    /*logo img*/
    background:url(../img/busan_logo.png) no-repeat center;
    background-size:cover;
}
/*logo end*/

/*---------------------------------------------------------------*/

/*menu start*/
.box3{
    width:100%;
    height:58px;
    background:#969696;
}

.box3 .menu_wrap{
    width:72.4%;
    height:58px;
    /*background:red;*/
    margin:auto;
}

.box3 .menu_wrap .menus{
    width:11.1111%;
    height:58px;
    /*background:orange;*/
    float:left; 
}

.box3 .menu_wrap .menus a{
    display:block;
    height:37px;
    font-size:18px;
    letter-spacing:0.1em;
    /*background:green;*/
    text-align:center;
    padding-top:21px;
}

.box3 .menu_wrap .menus a:hover{
    background:#ff9e12;
}

.box3 .menu_wrap .menu7 a{
    height:41px;
    font-size:13px;
    font-weight:500;
    line-height:1.1em;
    padding-top:17px;
}

.box3 .menu_wrap .menu7 a span{
    font-size:11px;
}

.box3 .menu_wrap .menu8 a{
    width:100%;
    height:41px;
    font-size:13px;
    font-weight:500;
    line-height:1.1em;
    padding-top:17px;
    float:left;
    
    background:url(../img/busan_menu_border.png) no-repeat center;
    background-size:cover;
}

.box3 .menu_wrap .menu8 a span{
    font-size:11px;
}

.box3 .menu_wrap .menu9 a{
    height:41px;
    font-size:13px;
    font-weight:500;
    line-height:1.1em;
    padding-top:17px;
}

.box3 .menu_wrap .menu9 a span{
    font-size:11px;
}

/*-----------------*/

.box3 .menu_wrap .menu8:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.box3 .menu_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}
/*menu end*/

/*---------------------------------------------------------------*/

/*video start*/
.box4{
    width:100%;
    height:501px;
}

.box4 .marin_video{
    min-width:100% !important;
    min-height:100% !important;
    margin:auto;
}

.box4 .video_container{
    width:86.2%;
    height:auto;
    padding-top:120px;
    position:absolute;
    top:240px;
    
    /*background-color:rgba(0,0,0,0.8);*/
}

/*전문성과 진정성으로*/
.box4 .video_container .video_txt_1{
    /* 자간벙벙해서 끕니다 */
    letter-spacing: 0em;
    
    font-size:70px;
    font-weight:700;
    text-align:right;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    
     /*background:blue;*/
}

/*학생의 미래를 밝힙니다*/
.box4 .video_container .video_txt_2{
    /* 자간벙벙해서 끕니다 */
    letter-spacing: 0em;
    
    font-size:42px;
    font-weight:500;
    text-align:right;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    
    /*background:pink;*/
}

/*문의하기 버튼*/
.box4 .video_container .button1{
    /* 자간벙벙해서 끕니다 */
    letter-spacing: 0.03em;
    
    font-size:22px;
    font-weight:400;
    text-align:right;
    padding-top:20px;
    
    /*background:green;*/
}

.box4 .video_container .button1 a{
    display:block;
    width:203px;
    height:53px;
    border-radius:30px;
    float:right;
    text-align:center;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    opacity:0.9;
    
    background-color:#ff9e12;
}

.box4 .video_container .button1 a:hover{
    opacity:1;
}

.box4 .video_container .button1 a p{
    margin-top:14.5px;
    
    /*background-color:yellow;*/
}


/*카카오톡 버튼*/
.box4 .video_container .button2{
    /* 자간벙벙해서 끕니다 */
    letter-spacing: 0.03em;
    
    font-size:22px;
    font-weight:400;
    text-align:right;
    padding-top:8px;
    
    /*background-color:aqua;*/
}

.box4 .video_container .button2 a{
    display:block;
    width:203px;
    height:53px;
    border-radius:30px;
    float:right;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    opacity:0.9;
    
    background-color:#ff9e12;
}

.box4 .video_container .button2 a:hover{
    opacity:1;
}

.box4 .video_container .button2 a .button2_contents{
    width:115px;
    height:25px;
    margin:14.5px auto;
    
    /*background-color:darkviolet;*/
}

.box4 .video_container .button2 a .button2_contents img{
    margin-right:6px;
    padding-top:2px;
    float:right;
    
    /*background-color:red;*/
}

.box4 .video_container .button2 a .button2_contents p{
    float:right;
    
    /*background-color:darkgoldenrod;*/
}

/*-----------------*/

.box4 .video_container .button1:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.box4 .video_container .button2:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.box4 .video_container .button2 a:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

/*video end*/

/*---------------------------------------------------------------*/

/*blog start*/

.box5{
    width:100%;
    height:1080px;
}

.box5 .blog_wrap{
    width:72.4%;
    height:auto;
    margin:auto;
    
    /*background-color:green;*/
}

/*블로그 아이콘*/
.box5 .blog_wrap .blog_icon_box{
    width:100%;
    padding-top:49px;
    padding-bottom:15px;
    
    /*background-color:red;*/
}

.box5 .blog_wrap .blog_icon_box a{
    display:block;
    float:left;
    
    /*background-color:orange;*/
}

.box5 .blog_wrap .blog_icon_box p{
    color:dimgrey;
    letter-spacing:0.01em;
    font-size:16px;
    font-weight:500;
    float:left;
    padding-top:8px;
    padding-left:9px;
    
    /*background-color:blue;*/
}

/*블로그 컨텐츠*/
.blog_contents{
    width:100%;
    
    /*background-color:red;*/
}

/*blog 날짜 서체크기 통일화*/
.blog_contents span{
    font-size:12px;
}

/*blog 제목 서체크기 통일화*/
.blog_contents p{
    font-size:20px;
    padding-top:8px;
}

/*-----------------*/

.blog_contents .blog_contents_top{
    width:100%;
    
    /*background-color:purple;*/
}

.blog_contents .blog_contents_bottom{
    width:100%;
    padding-top:28px;
    /*background-color:darkblue;*/
}

/*-----------------*/

/*블로그 컨텐츠 1번*/
.blog_contents .blog_contents_top .blog_contents_1{
    width:56%;
    height:640px;
    border-radius:8px;
    float:left;
    position:relative;
    
    background-color:darkgrey;
}

.blog_contents .blog_contents_top .blog_contents_1:hover{
    background-color:#9cd83d;
    cursor:pointer;
}

.blog_contents .blog_contents_top .blog_contents_1 .blog_contents_1_wrap{
    min-width:100%;
    height:148px;
    
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position:absolute;
    bottom:0;
    
    background-color:rgba(0,0,0,0.3);
}

.blog_contents .blog_contents_top .blog_contents_1 .blog_contents_1_wrap .blog_contents_1_inner{
    width:337px;
    padding-top:30px;
    padding-left:38px;
    
    /*background-color:red;*/
}

.blog_contents .blog_contents_top .blog_contents_1 .blog_contents_1_wrap .blog_contents_1_inner span{
    font-size:16px;
    
    /*background-color:red;*/
}

.blog_contents .blog_contents_top .blog_contents_1 .blog_contents_1_wrap .blog_contents_1_inner p{
    font-size:26px;
    padding-top:12px;
    
    /*background-color:greenyellow;*/
}

/*블로그 컨텐츠 2번*/
.blog_contents .blog_contents_top .blog_contents_2{
    width:43%;
    height:314px;
    border-radius:8px;
    float:right;
    
    background-color:darkgrey;
}

.blog_contents .blog_contents_top .blog_contents_2:hover{
    background-color:#9cd83d;
    cursor:pointer;
}

.blog_contents .blog_contents_top .blog_contents_2 .blog_contents_2_inner{
    display:none;
    
    width:269px;
    padding-top:25px;
    padding-left:30px;
    
    /*background-color:skyblue;*/
}

/*블로그 컨텐츠 3번*/
.blog_contents .blog_contents_top .blog_contents_3{
    width:43%;
    height:314px;
    border-radius:8px;
    margin-top:11px;
    float:right;
    
    background-color:darkgrey;
}

.blog_contents .blog_contents_top .blog_contents_3:hover{
    background-color:#9cd83d;
    cursor:pointer;
}

.blog_contents .blog_contents_top .blog_contents_3 .blog_contents_3_inner{
    display:none;
    
    width:269px;
    padding-top:25px;
    padding-left:30px;
    
    /*background-color:forestgreen;*/
}

/*블로그 컨텐츠 4번*/
.blog_contents .blog_contents_bottom .blog_contents_4{
    width:32.93%;
    height:240px;
    border-radius:8px;
    margin-right:0.6%;
    float:left;
    
    background-color:darkgrey;
}

.blog_contents .blog_contents_bottom .blog_contents_4:hover{
    background-color:#9cd83d;
    cursor:pointer;
}

.blog_contents .blog_contents_bottom .blog_contents_4 .blog_contents_4_inner{
    display:none;
    
    width:269px;
    padding-top:23px;
    padding-left:27px;
    
    /*background-color:forestgreen;*/
}

/*블로그 컨텐츠 5번*/
.blog_contents .blog_contents_bottom .blog_contents_5{
    width:32.93%;
    height:240px;
    border-radius:8px;
    margin-right:0.6%;
    float:left;
    
    background-color:darkgrey;
}

.blog_contents .blog_contents_bottom .blog_contents_5:hover{
    background-color:#9cd83d;
    cursor:pointer;
}

.blog_contents .blog_contents_bottom .blog_contents_5 .blog_contents_5_inner{
    display:none;
    
    width:269px;
    padding-top:23px;
    padding-left:27px;
    
    /*background-color:forestgreen;*/
}

/*블로그 컨텐츠 6번*/
.blog_contents .blog_contents_bottom .blog_contents_6{
    width:32.93%;
    height:240px;
    border-radius:8px;
    float:left;
    
    background-color:darkgrey;
}

.blog_contents .blog_contents_bottom .blog_contents_6:hover{
    background-color:#9cd83d;
    cursor:pointer;
}

.blog_contents .blog_contents_bottom .blog_contents_6 .blog_contents_6_inner{
    display:none;
    
    width:269px;
    padding-top:23px;
    padding-left:27px;
    
    /*background-color:forestgreen;*/
}

/*-----------------*/

.box5 .blog_wrap .blog_icon_box:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.blog_contents .blog_contents_top:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.blog_contents .blog_contents_bottom:after{
    content:"";
    display:block;
    clear:both;
}

/*blog end*/

/*---------------------------------------------------------------*/

/*consult start*/
.box6{
    width: 100%;
    height: 525px;
    
    /* 자간벙벙해서 끕니다 */
    letter-spacing: 0.03em;
}

.box6 .consult_container{
    width: 100%;
    height: 425px;
    
    position: relative;
    top: 9%;
    
    /*background-color: black;
    opacity: 0.3;*/
}

.box6 .consult_contents{
    width: 80%;
    margin: auto;
}


.box6 .consult_txt_container{
    padding-left: 15px;
    padding-right: 15px;
    
    float: left;
    width: 45.7%;
    /*background: blue;*/
}


.box6 .consult_txt_container:after{
    content:"";
    display:block;
    clear:both;
}

.box6 .consult_txt_title{
    margin-top: 28px;
}

.box6 .consult_txt_title p{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.box6 .consult_txt_subtitle p{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.81;
    text-align: left;
}

.box6 .consult_txt_main{
    width: 312px;
    height: 159px;
    
    margin-top: 67px;
}

.box6 .consult_txt_main span{
    font-size: 14px;
    line-height: 2.07;
    text-align: left;
}


.box6 .consult_slider_container{
    padding-left: 15px;
    padding-right: 15px;
    
    float: left;
    width: 40%;
    /*background: red;*/
}

.box6 .consult_slider_container:after{
    content:"";
    display:block;
    clear:both;
}

.box6 .slider_indent{
    margin: 36px 0px;
    padding: 18px 0px;
    
    /*background-color: darkslateblue;*/
}

.box6 .slick-list{
    width: 597px;
    padding: 50px 0px;
    /*background-color: darkblue;*/
}


.box6 .consult_slider_item{
    /*background-color: darkgreen;*/
}

.box6 .consult_slider_title p{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.box6 .consult_slider_main1{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.81;
    text-align: left;
    
    border-bottom: 2px solid #fff;
    padding-bottom: 26px;
}

.box6 .consult_slider_main2{
    font-size: 13px;
    font-weight: 500;
    line-height: 1.81;
    text-align: left;
    
    padding-top: 27px;

}

.box6 .consult_slider_title{
    margin-left: 11px;
    float: left;
    width: 30%;
    /*background-color: deepskyblue;*/  
        
}

.box6 .consult_slider_title:after{
    content:"";
    display:block;
    clear:both;
}

.box6 .consult_slider_main{
    margin-right: 49px;
    float: left;
    width: 52%;
    /*background-color: deepskyblue;*/
}

.box6 .consult_slider_main:after{
    content:"";
    display:block;
    clear:both;
}

.slick-prev{
    left: 48%;
    top: 2.4%;
    
    width: 34px;
    height: 21px;
    background: black;
}

.slick-next{
    left: 48%;
    top: 97.4%;
    
    width: 34px;
    height: 21px;
    background: black;
}

/*consult end*/
/*---------------------------------------------------------------*/
