@charset "UTF-8";

/*---------------------------------------------------------------*/


.box1 .header_busan{
    background:url(../img/all_header_busan.png) no-repeat center;
    background-size:cover;
}

.box1 .header_marin{
    background:url(../img/all_header_marin.png) no-repeat center;
    background-size:cover;
}

.box1 .header_jeju{
    background:url(../img/all_header_jeju.png) no-repeat center;
    background-size:cover;
}

.box2{
    background:url(../img/busan_bg_logo.png) no-repeat center;
    background-size:cover;
}

<<<<<<< HEAD
.box6{
    background: url(../img/busan_bg_consult.png) no-repeat center;
    background-size: cover;
}

.box6 .slick-list{
    background: url('../img/busan_consult_frame.png') no-repeat center;
    background-size: cover;
}
=======
.box4{
    background:url(../img/busan_bg_movie.png) no-repeat center;
    background-size:cover;
}

>>>>>>> 5d30d8a94a2cc147d25711147a9e2cba1884d793
