@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/*media query start*/
/*-----------------------------------------------------------------------------------------------*/

/*max-width:1300px(1300px 이하 _ 1st break point)*/
@media screen and (min-width:1025px) and (max-width:1300px) {
    
    /*box1_header start*/
    .box1 .header_busan a{
    font-size:18px;
    padding-top:22px;
}
    
    .box1 .header_marin a{
    font-size:18px;
    padding-top:22px;
}
    
    .box1 .header_jeju a{
    font-size:18px;
    padding-top:22px;
}
    /*box1_header end*/
    
    /*---------------------------------------------------------------*/
    
    /*box2_logo start*/
    /*box2_logo end*/

    /*---------------------------------------------------------------*/
    
    /*box3_menu start*/
    
    .box3 .menu_wrap{
        width:940px;
}
    
    .box3 .menu_wrap .menus a{
    font-size:16px;
    padding-top:22px;
}
    
    .box3 .menu_wrap .menu7 a{
    font-size:12.5px;
    padding-top:17px;
}
    
    .box3 .menu_wrap .menu8 a{
    font-size:12.5px;
    padding-top:17px;
}
    
    .box3 .menu_wrap .menu9 a{
    font-size:12.5px;
    padding-top:17px;
}
    
    .box3 .menu_wrap .menu8 a{
    background-size:contain;
}

    /*box3_menu end*/
    
    /*---------------------------------------------------------------*/
    
    /*box4_video start*/
    
    .box4 .video_container{
        width:940px;
        position:absolute;
        top:0px;
        left:50%;
        margin-left:-470px;
}
    /*box4_video end*/
    
    /*---------------------------------------------------------------*/
    
    /*box5_blog start*/
    
    .box5 .blog_wrap{
        width:940px;
}
    
    .blog_contents .blog_contents_bottom .blog_contents_4 p{
    font-size:18px;
    padding-top:6px;
}
    
    .blog_contents .blog_contents_bottom .blog_contents_5 p{
    font-size:18px;
    padding-top:6px;
}
    
    .blog_contents .blog_contents_bottom .blog_contents_6 p{
    font-size:18px;
    padding-top:6px;
}
    
    /*box5_blog end*/
    
    /*---------------------------------------------------------------*/
    
    /*box6_consult start*/
    .box6 .consult_contents{
        width: 940px;
    }
    
    .box6 .slider_indent,
    .box6 .slick-list,
    .box6 .consult_slider_item{
        width: 483px;
    }
    
    .box6 .consult_slider_title{
        padding-right: 10%;
    }
    .box6 .consult_slider_title p{
        font-size: 28px;
    }
    .box6 .consult_slider_main1{
        font-size: 15px;
    }
    
    .box6 .consult_slider_main2{
        font-size: 12px;
    }
    
    
    /*box6_consult end*/
    
    /*---------------------------------------------------------------*/
    
    /*box7_ad1 start*/
    
    .box7 .ad1_title{
    width:940px;
}
    
    .box7 .ad1_contents_wrap{
    width:940px;
}
    
    /*컨텐츠 박스 패딩값 통일화*/
    .box7 .ad1_contents_wrap .ad1_contents_box .ad1_contents_inner{
    padding-top:48px;
}
    
    /*컨텐츠 서체크기 통일화 1*/
    .box7 .ad1_contents_wrap .ad1_contents_box .ad1_contents_inner p{
    font-size:35px;
    padding-bottom:25px;
    
    /*background-color:blue;*/
}
    
    .box7 .ad1_contents_wrap .ad1_contents_box .ad1_contents_inner .ad1_span{
    padding-top:27px;
    
    /*background-color:green;*/
}
    
    /*box7_ad1 end*/
    
    /*---------------------------------------------------------------*/
    
    /*box8_prep & ad2 start*/
    
    /* Prep start*/
<<<<<<< HEAD

=======
>>>>>>> 8908a76ebf5bd025d0ddb2b208c937a6023dac9a
    
    /*ad2 start*/
    
    .box8 .ad_2_wrap .ad2_title{
        width:940px;
    }
    
    .box8 .ad2_contents_wrap{
        width:940px;
    }

    .box8 .ad2_contents_wrap .ad2_contents_box{
    padding-top:50px;
    height:205px;
    
    /*background-color:orange;*/
    }
    
    /*컨텐츠 서체크기 통일화 1*/
    .box8 .ad2_contents_wrap .ad2_contents_box .ad2_contents_inner p{
    font-size:35px;
    padding-bottom:10px;
    
    /*background-color:blue;*/
    }
    
    .box8 .ad2_contents_wrap .ad2_contents_3{
    margin-top:15px;
    height:290px;
    }

    .box8 .ad2_contents_wrap .ad2_contents_4{
    margin-top:15px;
    height:290px;
    }
    
    
    /*ad2 end*/
    .box8 .Prep1_title,
    .box8 .Prep2_title,
    .box8 .Prep3_title{
        width: 940px;
    }
    
    /* prep frame setting */
    .box8 .Prep1_container,
    .box8 .Prep2_container,
    .box8 .Prep3_container,
    .box8 .prep3_list_container{
        width: 940px;
    }
    
    /* 공통 */
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span,
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_span,
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        margin-top: 27px;
        /*background-color:green;*/
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span,
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_span{
        font-size: 12px;

        /*background-color:red;*/
    }
    
    /* prep1 */
    .box8 .Prep1_container .prep1_box .prep1_contents_inner p,
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_title{
        font-size: 37px;
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_subtitle{
        font-size: 16px;
        font-weight: 200;
    }
   
    /* prep2 */
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_txt_title{
        font-size:24px;
    }
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_txt_subtitle{
        font-size: 13px;
    }
    
    /* prep3 */
    .box8 .Prep3_container .prep3_box .prep3_contents_inner p{
        font-size: 38px;
    }
    
    .box8 .Prep3_container .prep3_box .prep3_ko p{
        font-size : 35px;
        padding-bottom: 2.8px;
    }
    
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        font-size: 14px;
    }
    
    .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents span{
        font-weight: 500;
    }
<<<<<<< HEAD
=======
    
    
     /* slidenav position */
    .box8 .slick-prev{
        left: -3.7%;
        top: 45%;
    }

    .box8 .slick-next{
        right: -3.7%;
        top: 45%;
    }
>>>>>>> 8908a76ebf5bd025d0ddb2b208c937a6023dac9a
    
    /*box8_prep & ad2 end*/
    
    /*---------------------------------------------------------------*/
    
    /*box9_mid-ask & prof start*/
    
    /*mid-ask start*/
    .box9 .box9_wrap{
        width:940px;
}
    /*mid-ask end*/
    
    /*prof start*/
    
    .box9 .box9_wrap .prof_wrap .prof_title p{
    padding-bottom:30px;
}
    /*교수 프로필*/
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs{
    width:50%;
    padding-bottom:15px;
}
    
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_right ul li{
    font-size:11.5px;
    line-height:18px;
}
    /*prof end*/
    
    /*box9_mid-ask & prof end*/
    
    /*---------------------------------------------------------------*/
    
    /*box10_map start*/
    .box10_wrap{
        width:940px;
}
    /*box10_map end*/
    
    /*---------------------------------------------------------------*/
    
    /*box11_ask & footer start*/
    .box11 .box11_wrap{
        width:940px;
}
    
    /*footer start*/
    
    .footer{
        width:940px;
}
    
    /*footer end*/
    /*box11_ask & footer end*/

    
}/*max-width:1300px end*/
/*-----------------------------------------------------------------------------------------------*/

/*max-width:1024px(1024px 이하 _ 2nd break point)*/
@media screen and (min-width:668px) and (max-width:1024px) {
    
    /*box1_header start*/
    /*box1_header end*/
    
    /*box2_logo start*/
    /*box2_logo end*/

    /*box3_menu start*/
    /*box3_menu end*/
    
    /*box4_video start*/
    /*box4_video end*/
    
    /*box5_blog start*/
    /*box5_blog end*/
    
    /*box6_consult start*/
    .box6 .consult_container{
        width: 740px;
        margin: auto;
    }
    
    .box6 .consult_contents{
        width: 100%;
        margin: auto;
    }
    
    .box6 .consult_txt_container{
        float: none;
        width: 100%;
    }
    
    .box6 .consult_slider_container{
        float: none;
        width: 100%;
        margin-top: 3%;
    }
    
   
    .box6 .consult_txt_all:after{
        content:"";
        display:block;
        clear:both;   
    }
    
   .box6 .consult_txt_all{
        margin-top: 0px;
/*        background-color: red;*/
        
    }

    .box6 .consult_txt_main{
        width: 98%;
        margin-top: 20px;
/*        background-color: aquamarine;*/
    }

    
    /* consult_txt */
    .box6 .consult_txt_title p{
        font-size: 38px;
    }
    
    .box6 .consult_txt_subtitle p{
        font-size: 15px;
        font-weight: 300;
    }
    
    .box6 .consult_txt_main span{
        font-size: 13px;
        line-height: 1.9;
    }
    
    /* consult_slider*/
    .box6 .slider_indent,
    .box6 .slick-list,
    .box6 .consult_slider_item{
        width: 100%;
    }
    
    .box6 .slider_indent{
        margin:auto;
        height: 280px;
        
        border-radius: 8px;
        
        background-color: rgba(255,255,255,0.2);
/*        background-color: darkslateblue;*/
    }

    .box6 .slick-list{
        padding: 10px 0px;
        height: auto;

        background-color: skyblue;
    }

    .box6 .slick-track{
/*        background-color: darksalmon;*/
        margin-left: 2%;
    }
    .box6 .consult_slider_main{
        width: 50%;
        margin: auto;
/*        background-color: firebrick;*/
    }    
    
    .box6 .consult_slider_title{
        padding-right: 10%;
/*        background-color: darkviolet;*/
    }
    .box6 .consult_slider_title p{
        font-size: 28px;
        font-weight: 600;
    }
    .box6 .consult_slider_main1{
        font-size: 15px;
        font-weight: 400;
        line-height: 1.6;
    }
    
    .box6 .consult_slider_main2{
        font-size: 12px;
        font-weight: 400;
        line-height: 1.65;
    }
    
    
    
    /* slider nav*/
    .box6 .slick-prev{
        left: -6%;
        top: 50%;
        

        transform: rotate(-90deg);
    }

    .box6 .slick-next{
        left: 101%;
        top: 50%;

        transform: rotate(-90deg);
    }
    
    
    /*box6_consult end*/
    
    /*box7_ad1 start*/
    /*box7_ad1 end*/
    
    /*box8_prep & ad2 start*/
    /* Prep start */
    .box8 .Prep1_title,
    .box8 .Prep2_title,
    .box8 .Prep3_title{
        width: 740px;
    }
    
    /* prep frame setting */
    .box8 .Prep1_container,
    .box8 .Prep2_container,
    .box8 .Prep3_container,
    .box8 .prep3_list_container{
        width: 740px;
    }
    
    /* 공통 */
    .box8 .Prep1_title ul li h3,
    .box8 .Prep2_title ul li h3,
    .box8 .Prep3_title ul li h3{
        font-size: 38px;
    }
    
    .box8 .Prep1_title ul li p,
    .box8 .Prep2_title ul li p,
    .box8 .Prep3_title ul li p{
        font-size: 15px;
        font-weight: 300;
    }

    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span,
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_span,
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        margin-top: 27px;
/*        background-color:green;*/
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span,
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_span{
        font-size: 12px;

        /*background-color:red;*/
    }
    
    /* prep1 */
    .box8 .Prep1_container .prep1_box .prep1_contents_inner p,
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_title{
        font-size: 37px;
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_subtitle{
        font-size: 16px;
        font-weight: 200;
    }
   
    /* prep2 */
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_txt_title{
        font-size:24px;
    }
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_txt_subtitle{
        font-size: 13px;
    }
    
    /* prep3_slider */
    .box8 .Prep3_container .prep3_box .prep3_contents_inner p{
        font-size: 38px;
    }
    
    .box8 .Prep3_container .prep3_box .prep3_ko p{
        font-size : 34px;
        padding-bottom: 4px;
    }
    
    
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        font-size: 14px;
    }
    
    /* prep3_list */
    .box8 .prep3_list_container .prep3_list_title p .prep3_list_title{
        font-size:23px;
        /*background-color:aqua;*/
    }

    .box8 .prep3_list_container .prep3_list_title p .prep3_list_subtitle{
        font-size:13px;
        font-weight:300;
        /*background-color:blue;*/
    }
    
    .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents span{
        font-size: 16px;
        font-weight: 500;
    }
    
    
    
    /* slidenav position */
    .box8 .slick-prev{
        left: -4.7%;
        top: 46%;
    }

    .box8 .slick-next{
        right: -4.7%;
        top: 46%;
    }

    /* Prep end */
    
    
    /*box8_prep & ad2 end*/
    
    /*box9_mid-ask & prof start*/
    /*box9_mid-ask & prof end*/
    
    /*box10_map start*/
    /*box10_map end*/
    
    /*box11_ask & footer start*/
    /*box11_ask & footer end*/

    
}/*max-width:1024px end*/
/*-----------------------------------------------------------------------------------------------*/


/*max-width:667px(667px 이하 _ 핸드폰 기준)*/
@media screen and (max-width:667px) {
    
    /*box1_header start*/
    /*box1_header end*/
    
    /*box2_logo start*/
    /*box2_logo end*/

    /*box3_menu start*/
    /*box3_menu end*/
    
    /*box4_video start*/
    /*box4_video end*/
    
    /*box5_blog start*/
    /*box5_blog end*/
    
    /*box6_consult start*/
    
    /*box6_consult end*/
    
    /*box7_ad1 start*/
    /*box7_ad1 end*/
    
    /*box8_prep & ad2 start*/
    /* Prep start */
    .box8 .Prep1_title,
    .box8 .Prep2_title,
    .box8 .Prep3_title{
        width: 480px;
    }
    
    /* prep frame setting */
    .box8 .Prep1_container,
    .box8 .Prep2_container,
    .box8 .Prep3_container,
    .box8 .prep3_list_container{
        width: 480px;
    }
    
    
    /*box8_prep & ad2 end*/
    
    /*box9_mid-ask & prof start*/
    /*box9_mid-ask & prof end*/
    
    /*box10_map start*/
    /*box10_map end*/
    
    /*box11_ask & footer start*/
    /*box11_ask & footer end*/

    
}/*max-width:667px end*/
/*-----------------------------------------------------------------------------------------------*/
