@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/*reset*/
*{margin:0; padding:0;}
body{font-size:14px;}
a{text-decoration:none; color:#ffffff;}
ul, li{list-style:none;}
p, span{hyphens:none; word-break:keep-all;}
/*reset end*/

body{
    font-family: 'Noto Sans KR', sans-serif;
    color:#ffffff;
    letter-spacing:0.03em;
    background:#e5e4e2;
    width:100%;
    height:auto;
}

/*---------------------------------------------------------------*/

/*header start*/
.box1 .header_busan{
    height:59px;
    width:33.3333%;
    float:left;
}

.box1 .header_busan a{
    display:block;
    background:#3288af;
    font-size:20px;
    height:39px;
    width:100%;
    text-align:center;
    padding-top:20px;
    font-weight:300;
    letter-spacing:0.1em;
    
    opacity:1;
}

.box1 .header_marin{
    height:59px;
    width:33.3333%;
    float:left;
}

.box1 .header_marin a{
    display:block;
    background:#000000;
    color:#969696;
    font-size:20px;
    height:39px;
    width:100%;
    text-align:center;
    padding-top:20px;
    font-weight:300;
    letter-spacing:0.1em;
    
    opacity:0.6;
}

.box1 .header_marin a:hover{
    opacity:0.7; 
}

.box1 .header_jeju{
    height:59px;
    width:33.3333%;
    float:left;
}

.box1 .header_jeju a{
    display:block;
    background:#000000;
    color:#969696;
    font-size:20px;
    height:39px;
    width:100%;
    text-align:center;
    padding-top:20px;
    font-weight:300;
    letter-spacing:0.1em;
    
    opacity:0.6;
}

.box1 .header_jeju a:hover{
    opacity:0.7; 
}

/*-----------------*/

.box1:after{
    content:"";
    display:block;
    clear:both;
}
/*header end*/

/*---------------------------------------------------------------*/

/*logo start*/
.box2{
    width:100%;
    height:123px;
    position:relative;
}

.box2 .busan_bg_logo{
    background:red;
    width:248px;
    height:63px;
    margin-top:29px;
    
    
    /*고정형 레이아웃*/
    position:absolute;
    left:50%;
    margin-left:-124px;
    
    /*logo img*/
    background:url(../img/busan_logo.png) no-repeat center;
    background-size:cover;
}
/*logo end*/

/*---------------------------------------------------------------*/

/*menu start*/
.box3{
    width:100%;
    height:58px;
    background:#969696;
}

.box3 .menu_wrap{
    width:72.4%;
    height:58px;
    /*background:red;*/
    margin:auto;
}

.box3 .menu_wrap .menus{
    width:11.1111%;
    height:58px;
    /*background:orange;*/
    float:left; 
}

.box3 .menu_wrap .menus a{
    display:block;
    height:37px;
    font-size:18px;
    letter-spacing:0.1em;
    /*background:green;*/
    text-align:center;
    padding-top:21px;
}

.box3 .menu_wrap .menus a:hover{
    background:#ff9e12;
}

.box3 .menu_wrap .menu7 a{
    height:41px;
    font-size:13px;
    font-weight:500;
    line-height:1.1em;
    padding-top:17px;
}

.box3 .menu_wrap .menu7 a span{
    font-size:11px;
}

.box3 .menu_wrap .menu8 a{
    width:100%;
    height:41px;
    font-size:13px;
    font-weight:500;
    line-height:1.1em;
    padding-top:17px;
    float:left;
    
    background:url(../img/busan_menu_border.png) no-repeat center;
    background-size:cover;
}

.box3 .menu_wrap .menu8 a span{
    font-size:11px;
}

.box3 .menu_wrap .menu9 a{
    height:41px;
    font-size:13px;
    font-weight:500;
    line-height:1.1em;
    padding-top:17px;
}

.box3 .menu_wrap .menu9 a span{
    font-size:11px;
}

/*-----------------*/

.box3 .menu_wrap .menu8:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.box3 .menu_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}
/*menu end*/

/*---------------------------------------------------------------*/

/*video start*/
.box4{
    width:100%;
    height:501px;
    overflow:hidden;
}

.box4 .marin_video{
    min-width:100% !important;
    min-height:100% !important;
    margin:auto;
    pointer-events:none;
}

.box4 .video_container{
    width:86.2%;
    height:auto;
    padding-top:120px;
    position:absolute;
    top:240px;
    
    /*background-color:rgba(0,0,0,0.8);*/
}

/*전문성과 진정성으로*/
.box4 .video_container .video_txt_1{
    /* 자간벙벙해서 끕니다 */
    letter-spacing: 0em;
    
    font-size:70px;
    font-weight:700;
    text-align:right;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    
     /*background:blue;*/
}

/*학생의 미래를 밝힙니다*/
.box4 .video_container .video_txt_2{
    /* 자간벙벙해서 끕니다 */
    letter-spacing: 0em;
    
    font-size:42px;
    font-weight:500;
    text-align:right;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    
    /*background:pink;*/
}

/*문의하기 버튼*/
.box4 .video_container .button1{
    /* 자간벙벙해서 끕니다 */
    letter-spacing: 0.03em;
    
    font-size:22px;
    font-weight:400;
    text-align:right;
    padding-top:20px;
    
    /*background:green;*/
}

.box4 .video_container .button1 a{
    display:block;
    width:203px;
    height:53px;
    border-radius:30px;
    float:right;
    text-align:center;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    opacity:0.9;
    
    background-color:#ff9e12;
}

.box4 .video_container .button1 a:hover{
    opacity:1;
}

.box4 .video_container .button1 a p{
    margin-top:14.5px;
    
    /*background-color:yellow;*/
}


/*카카오톡 버튼*/
.box4 .video_container .button2{
    /* 자간벙벙해서 끕니다 */
    letter-spacing: 0.03em;
    
    font-size:22px;
    font-weight:400;
    text-align:right;
    padding-top:8px;
    
    /*background-color:aqua;*/
}

.box4 .video_container .button2 a{
    display:block;
    width:203px;
    height:53px;
    border-radius:30px;
    float:right;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    opacity:0.9;
    
    background-color:#ff9e12;
}

.box4 .video_container .button2 a:hover{
    opacity:1;
}

.box4 .video_container .button2 a .button2_contents{
    width:107px;
    height:25px;
    margin:auto;
    margin-top:14.5px;
    
    /*background-color:darkviolet;*/
}

.box4 .video_container .button2 a .button2_contents img{
    margin-right:6px;
    padding-top:2px;
    float:right;
    
    /*background-color:red;*/
}

.box4 .video_container .button2 a .button2_contents p{
    float:right;
    
    /*background-color:darkgoldenrod;*/
}

/*-----------------*/

.box4 .video_container .button1:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.box4 .video_container .button2:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.box4 .video_container .button2 a:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

/*video end*/

/*---------------------------------------------------------------*/

/*blog start*/

.box5{
    width:100%;
    height:1080px;
}

.box5 .blog_wrap{
    width:72.4%;
    height:auto;
    margin:auto;
    
    /*background-color:green;*/
}

/*블로그 아이콘*/
.box5 .blog_wrap .blog_icon_box{
    width:100%;
    padding-top:49px;
    padding-bottom:15px;
    
    /*background-color:red;*/
}

.box5 .blog_wrap .blog_icon_box a{
    display:block;
    float:left;
    
    /*background-color:orange;*/
}

.box5 .blog_wrap .blog_icon_box p{
    color:dimgrey;
    letter-spacing:0.01em;
    font-size:16px;
    font-weight:500;
    float:left;
    padding-top:8px;
    padding-left:9px;
    
    /*background-color:blue;*/
}

/*블로그 컨텐츠*/
.blog_contents{
    width:100%;
    
    /*background-color:red;*/
}

/*blog 날짜 서체크기 통일화*/
.blog_contents span{
    font-size:12px;
}

/*blog 제목 서체크기 통일화*/
.blog_contents p{
    font-size:20px;
    padding-top:8px;
}

/*-----------------*/

.blog_contents .blog_contents_top{
    width:100%;
    
    /*background-color:purple;*/
}

.blog_contents .blog_contents_bottom{
    width:100%;
    padding-top:28px;
    /*background-color:darkblue;*/
}

/*-----------------*/

/*블로그 컨텐츠 1번*/
.blog_contents .blog_contents_top .blog_contents_1{
    width:56%;
    height:640px;
    border-radius:8px;
    float:left;
    position:relative;
    
    background-color:darkgrey;
}

.blog_contents .blog_contents_top .blog_contents_1:hover{
    background-color:rgba(156,216,61,0.8);
    cursor:pointer;
}

.blog_contents .blog_contents_top .blog_contents_1 .blog_contents_1_wrap{
    min-width:100%;
    height:148px;
    
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position:absolute;
    bottom:0;
    
    background-color:rgba(0,0,0,0.3);
}

.blog_contents .blog_contents_top .blog_contents_1 .blog_contents_1_wrap .blog_contents_1_inner{
    width:337px;
    padding-top:30px;
    padding-left:38px;
    
    /*background-color:red;*/
}

.blog_contents .blog_contents_top .blog_contents_1 .blog_contents_1_wrap .blog_contents_1_inner span{
    font-size:16px;
    
    /*background-color:red;*/
}

.blog_contents .blog_contents_top .blog_contents_1 .blog_contents_1_wrap .blog_contents_1_inner p{
    font-size:26px;
    padding-top:12px;
    
    /*background-color:greenyellow;*/
}

/*블로그 컨텐츠 2번*/
.blog_contents .blog_contents_top .blog_contents_2{
    width:43%;
    height:314px;
    border-radius:8px;
    float:right;
    
    background-color:darkgrey;
}

.blog_contents .blog_contents_top .blog_contents_2:hover{
    background-color:rgba(156,216,61,0.8);
    cursor:pointer;
}

.blog_contents .blog_contents_top .blog_contents_2 .blog_contents_2_inner{
    display:none;
    
    width:269px;
    padding-top:25px;
    padding-left:30px;
    
    /*background-color:skyblue;*/
}

/*블로그 컨텐츠 3번*/
.blog_contents .blog_contents_top .blog_contents_3{
    width:43%;
    height:314px;
    border-radius:8px;
    margin-top:11px;
    float:right;
    
    background-color:darkgrey;
}

.blog_contents .blog_contents_top .blog_contents_3:hover{
    background-color:rgba(156,216,61,0.8);
    cursor:pointer;
}

.blog_contents .blog_contents_top .blog_contents_3 .blog_contents_3_inner{
    display:none;
    
    width:269px;
    padding-top:25px;
    padding-left:30px;
    
    /*background-color:forestgreen;*/
}

/*블로그 컨텐츠 4번*/
.blog_contents .blog_contents_bottom .blog_contents_4{
    width:32.93%;
    height:240px;
    border-radius:8px;
    margin-right:0.6%;
    float:left;
    
    background-color:darkgrey;
}

.blog_contents .blog_contents_bottom .blog_contents_4:hover{
    background-color:rgba(156,216,61,0.8);
    cursor:pointer;
}

.blog_contents .blog_contents_bottom .blog_contents_4 .blog_contents_4_inner{
    display:none;
    
    width:269px;
    padding-top:23px;
    padding-left:27px;
    
    /*background-color:forestgreen;*/
}

/*블로그 컨텐츠 5번*/
.blog_contents .blog_contents_bottom .blog_contents_5{
    width:32.93%;
    height:240px;
    border-radius:8px;
    margin-right:0.6%;
    float:left;
    
    background-color:darkgrey;
}

.blog_contents .blog_contents_bottom .blog_contents_5:hover{
    background-color:rgba(156,216,61,0.8);
    cursor:pointer;
}

.blog_contents .blog_contents_bottom .blog_contents_5 .blog_contents_5_inner{
    display:none;
    
    width:269px;
    padding-top:23px;
    padding-left:27px;
    
    /*background-color:forestgreen;*/
}

/*블로그 컨텐츠 6번*/
.blog_contents .blog_contents_bottom .blog_contents_6{
    width:32.93%;
    height:240px;
    border-radius:8px;
    float:left;
    
    background-color:darkgrey;
}

.blog_contents .blog_contents_bottom .blog_contents_6:hover{
    background-color:rgba(156,216,61,0.8);
    cursor:pointer;
}

.blog_contents .blog_contents_bottom .blog_contents_6 .blog_contents_6_inner{
    display:none;
    
    width:269px;
    padding-top:23px;
    padding-left:27px;
    
    /*background-color:forestgreen;*/
}

/*-----------------*/

.box5 .blog_wrap .blog_icon_box:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.blog_contents .blog_contents_top:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.blog_contents .blog_contents_bottom:after{
    content:"";
    display:block;
    clear:both;
}

/*blog end*/

/*---------------------------------------------------------------*/

/*consult start*/
.box6{
    width: 100%;
    height: 525px;
    
    /* 자간벙벙해서 끕니다 */
    letter-spacing: 0.03em;
}

.box6 .consult_container{
    width: 100%;
    height: 425px;
    
    position: relative;
    top: 9%;
    
/*    background-color: black;*/
/*    opacity: 0.3;*/
}

.box6 .consult_contents{
    width: 72.4%;
    margin: auto;
}


.box6 .consult_txt_container{
    padding-left: 15px;
    padding-right: 15px;
    
    float: left;
    width: 44%;
    /*background: blue;*/
}

.box6 .consult_txt_title{
    margin-top: 58px;
}

.box6 .consult_txt_title p{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.box6 .consult_txt_subtitle p{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.81;
    text-align: left;
}

.box6 .consult_txt_main{
    width: 312px;
    height: 159px;
    
    margin-top: 58px;
}

.box6 .consult_txt_main span{
    font-size: 14px;
    line-height: 2.07;
    text-align: left;
}


.box6 .consult_slider_container{
    float: left;
    width: 40%;
/*    background: red;*/
}

.box6 .slider_indent{
    padding: 18px 0px;
    width: 597px;
    height: 425px;
/*    background-color: darkslateblue;*/
}

.box6 .consult_slider_frame{
    height: 345px;
    margin-top: 15px;
}

.box6 .slick-list{
    width: 597px;
    padding: 50px 0px;
}


.box6 .consult_slider_item{
    width: 597px;
    margin-top: 10px;
/*    background-color: darkgreen;*/
}

.box6 .consult_slider_title p{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.box6 .consult_slider_main1{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.81;
    text-align: left;
    
    border-bottom: 2px solid #fff;
    padding-bottom: 21px;
}

.box6 .consult_slider_main2{
    font-size: 13px;
    font-weight: 500;
    line-height: 1.81;
    text-align: left;
    
    padding-top: 27px;

}

.box6 .consult_slider_title{
    margin-left: 57px;
    float: left;
    width: 30%;
/*    background-color: blue;*/
        
}

.box6 .consult_slider_main{
    float: left;
    width: 52%;
/*    background-color: deepskyblue;*/
}

.box6 .slick-prev{
    left: 48%;
    top: 2.3%;
    
    width: 34px;
    height: 21px;
}

.box6 .slick-next{
    left: 48%;
    top: 97.4%;
    
    width: 34px;
    height: 21px;
}

/*-----------------*/

.box6 .consult_contents:after{
    content:"";
    display:block;
    clear:both;
}

.box6 .consult_slider_item:after{
    content:"";
    display:block;
    clear:both;
}

/*consult end*/

/*---------------------------------------------------------------*/

/*ad_1 start*/

.box7{
    width: 100%;
    height: 953px; 
}

/*컨텐츠 제목 & 소제목*/
.box7 .ad1_title{
    width:72.4%;
    padding-top:66px;
    margin:auto;
    
    /*background-color:red;*/
}

.box7 .ad1_title ul li h3{
    font-size:40px;
    font-weight:bold;
    
    /*background-color:aqua;*/
}

.box7 .ad1_title ul li p{
    font-size:20px;
    padding-top:2px;
    padding-bottom:27px;
    font-weight:500;
    
    /*background-color:blue;*/
}

/*-----------------*/

.box7 .ad1_contents_wrap{
    width:72.4%;
    margin:auto;
    
    /*background-color:forestgreen;*/
}

/*컨텐츠 박스넓이 통일화*/
.box7 .ad1_contents_wrap .ad1_contents_box{
    width:49.05%;
    height:339px;
    border-radius:8px;
    border:1px solid #ffffff;
    float:left;
    
    /*background-color:orange;*/
}

.box7 .ad1_contents_wrap .ad1_contents_box:hover{
    background-color:rgba(156,216,61,0.8);
    border:1px solid rgba(156,216,61,0.8);
}

/*컨텐츠 박스 패딩값 통일화*/
.box7 .ad1_contents_wrap .ad1_contents_box .ad1_contents_inner{
    padding-left:58px;
    padding-top:52px;
}

/*컨텐츠 서체크기 통일화 1*/
.box7 .ad1_contents_wrap .ad1_contents_box .ad1_contents_inner p{
    width:87%;
    font-size:41px;
    letter-spacing:-0.3px;
    font-weight:bold;
    padding-bottom:28px;
    border-bottom:1px solid #ffffff;
    
    /*background-color:blue;*/
}

.box7 .ad1_contents_wrap .ad1_contents_box .ad1_contents_inner .ad1_span{
    width:87%;
    padding-top:30px;
    
    /*background-color:green;*/
}

/*컨텐츠 서체크기 통일화 2*/
.box7 .ad1_contents_wrap .ad1_contents_box .ad1_contents_inner span{
    font-size:14px;
    font-weight:200;
    line-height:29px;
    
    /*background-color:red;*/
}


/*컨텐츠 세부 디테일 값 조정*/
.box7 .ad1_contents_wrap .ad1_contents_1 .ad1_contents_inner p{
    /*background-color:red;*/
}

.box7 .ad1_contents_wrap .ad1_contents_2{
    float:right;
}

.box7 .ad1_contents_wrap .ad1_contents_3{
    height:369px;
    margin-top:19px;
}

.box7 .ad1_contents_wrap .ad1_contents_4{
    height:369px;
    float:right;
    margin-top:19px;
}

/*-----------------*/

.box7 .ad1_contents_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

/*ad_1 end*/

/*---------------------------------------------------------------*/

/*Prep start*/
.box8{
    width:100%;
    height:2530px;
    
    /* 자간벙벙해서 끕니다 */
    letter-spacing: 0.03em;
}


/* title setting */
.box8 .Prep1_title{
    width:72.4%;
    padding-top:83px;
    margin:auto;
    
    /*background-color:red;*/
}

.box8 .Prep2_title{
    width:72.4%;
    padding-top: 62px;
    margin:auto;
    
    /*background-color:red;*/
}

.box8 .Prep3_title{
    width:72.4%;
    padding-top: 186px;
    margin:auto;
    
    /*background-color:red;*/
}
.box8 .Prep1_title ul li h3,
.box8 .Prep2_title ul li h3,
.box8 .Prep3_title ul li h3{
    font-size:40px;
    font-weight:bold;
    /*background-color:aqua;*/
}

.box8 .Prep1_title ul li p,
.box8 .Prep2_title ul li p,
.box8 .Prep3_title ul li p{
    font-size:16px;
    padding-bottom:15px;
    font-weight:500;
    line-height: 1.5;
    
    margin-left: 6px;
    margin-top: -5px;
    
    /*background-color:blue;*/
}


/* prep frame setting */
.box8 .Prep1_container,
.box8 .Prep2_container,
.box8 .Prep3_container,
.box8 .prep3_list_container{
    width: 72.4%;
    margin: auto;
/*    background-color: red;*/
}

.box8 .multi_slider .prep1_contents_inner{
    background: url(../img/busan_prep1_box_line.png) no-repeat center;
    background-size: contain;
}

.box8 .multi_slider .prep1_contents_inner:hover{    
    background: url('../img/busan_prep1_box_hover_2.png') no-repeat center;
    background-size: contain;
}

.box8 .multi_slider .prep2_contents_inner{
    background: url('../img/busan_prep2_box_line.png') no-repeat center;
    background-size: contain;
}

.box8 .multi_slider .prep2_contents_inner:hover{    
    background: url('../img/busan_prep2_box_hover_2.png') no-repeat center;
    background-size: contain;
}

.box8 .multi_slider .prep3_contents_inner{    
    background: url('../img/busan_prep3_box_line.png') no-repeat center;
    background-size: contain;
}

.box8 .multi_slider .prep3_contents_inner:hover{    
    background: url('../img/busan_prep3_box_hover_2.png') no-repeat center;
    background-size: contain;
    
}


/* 공통 */
.box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span,
.box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_span,
.box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
    margin-top: 29px;
/*    background-color:green;*/
}


/* prep1 */
.box8 .Prep1_container .prep1_box .prep1_contents_inner{
    padding: 9.2% 12.6%;
    margin: 8.9px 6.5px;
/*    background-color: aquamarine;*/
}

.box8 .Prep1_container .prep1_box .prep1_contents_inner p{
    font-size:39px;
    font-weight: bold;
    
    
    margin-bottom: 10px;
    border-bottom:1px solid #ffffff;
    
/*    background-color:blue;*/
}

.box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span{
    font-size:14px;
    font-weight: 200;
    line-height: 1.64;
    
/*    background-color:red;*/
}

.box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_title{
    font-size:39px;
    font-weight: bold;

}

.box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_subtitle{
    font-size: 19px;
    font-weight: bold;
    line-height: 1.51;
}


/* prep2 */
.box8 .Prep2_container .prep2_box .prep2_contents_inner{
    padding: 9.2% 0px;
    padding-left: 12.6%;
    padding-right: 17.6%;
    margin: 8.9px 6.5px;
    
/*    background-color: forestgreen;*/
}

.box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_span{
    font-size:14px;
    font-weight: 200;
    line-height: 1.5;
    
/*    background-color:red;*/
}

.box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_txt{
    padding-bottom: 8px;
    border-bottom:1px solid #ffffff;
    
/*    background-color: aquamarine;*/
}

.box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_txt_title{
    font-size:26px;
    font-weight: bold;
    
/*    background-color: red;*/
}

.box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_txt_subtitle{
    font-size: 16px;
    font-weight: 200;
    
/*    background-color: blue;*/
}


/* prep3 */
.box8 .Prep3_container .prep3_box .prep3_contents_inner{
    padding: 9.2% 0px;
    padding-left: 12.6%;
    padding-right: 17.6%;
    margin: 8.9px 6.5px;
/*    background-color: aquamarine;*/
}


.box8 .Prep3_container .prep3_box .prep3_contents_inner p{
    font-size:40px;
    font-weight: bold;

    
    margin-bottom: 16px;
    border-bottom:1px solid #ffffff;
    
/*    background-color:blue;*/
}

.box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
    font-size:16px;
    font-weight: 200;
    line-height: 1.56;
    
/*    background-color:red;*/
}

.box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_txt_title{
    font-size:39px;
    font-weight: bold;

}

.box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_txt_subtitle{
    font-size: 19px;
    font-weight: bold;
    line-height: 1.51;
}



.box8 .prep3_list_container .prep3_list_title{
    margin-top: 37px;
    margin-bottom: 9px;
    margin-left: 6px;
}

.box8 .prep3_list_container .prep3_list_title p .prep3_list_title{
    font-size:24px;
    font-weight:bold;
    margin-right: 9px;
    /*background-color:aqua;*/
}

.box8 .prep3_list_container .prep3_list_title p .prep3_list_subtitle{
    font-size:14px;
    font-weight:500;
    line-height: 1.5;

    
    /*background-color:blue;*/
}


/* prep3_list_setting */
.box8 .prep3_list_container .prep3_list_inner .prep3_list_contents{
    float: left;
    width: 16.6666%;
    height: 90px;
}

.box8 .prep3_list_container .prep3_list_inner .prep3_list_odd{
    
    background-color: rgba(255, 255, 255, 0.25);
}

.box8 .prep3_list_container .prep3_list_inner .prep3_list_even{
    background-color: rgba(255, 255, 255, 0.1);
}

.box8 .prep3_list_container .prep3_list_inner .prep3_list_1st,
.box8 .prep3_list_container .prep3_list_inner .prep3_list_2nd{
    height: 90px;
    margin-bottom: 9px;
/*    background-color: firebrick;*/
}

.box8 .prep3_list_container .prep3_list_inner .prep3_list_contents{
    display: table;
}

.box8 .prep3_list_container .prep3_list_inner .prep3_list_contents .prep3_list_txt{
    display: table-cell;
    text-align: center;
    vertical-align: middle;

/*    background-color: forestgreen;*/
}

.box8 .prep3_list_container .prep3_list_inner .prep3_list_contents span{    
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
}


/* slidenav position */
.box8 .slick-prev{
    position: absolute;
    left: -4.5%;
}

.box8 .slick-next{
    position: absolute;
    right: -4.5%;
}


.box8 .prep3_list_container .prep3_list_inner .prep3_list_1st .prep3_list_1st:after,
.box8 .prep3_list_container .prep3_list_inner .prep3_list_1st .prep3_list_2nd:after,
.box8 .prep3_list_container .prep3_list_inner .prep3_list_1st .prep3_list_3rd:after{
    content:"";
    display:block;
    clear:both;   
}

.box8 .prep3_list_container:after{
    content:"";
    display:block;
    clear:both;   
}


/*Prep END*/
/*---------------------------------------------------------------*/
/*Ad2 start*/

.box8 .ad_2_wrap{
    margin-top:200px;
}

/*컨텐츠 제목 & 소제목*/
.box8 .ad_2_wrap .ad2_title{
    width:72.4%;
    margin:auto;
    
    /*background-color:red;*/
}

.box8 .ad2_title ul li h3{
    font-size:40px;
    font-weight:bold;
    
    /*background-color:aqua;*/
}

.box8 .ad2_title ul li p{
    font-size:20px;
    padding-top:2px;
    padding-bottom:27px;
    font-weight:500;
    
    /*background-color:blue;*/
}

/*-----------------*/

.box8 .ad2_contents_wrap{
    width:72.4%;
    margin:auto;
    
    /*background-color:forestgreen;*/
}

/*컨텐츠 박스넓이 통일화*/
.box8 .ad2_contents_wrap .ad2_contents_box{
    width:49.05%;
    border-radius:8px;
    border:1px solid #ffffff;
    padding:3% 0%;
    float:left;
    
    background-color:orange;
}

.box8 .ad2_contents_wrap .ad2_contents_box:hover{
    background-color:rgba(156,216,61,0.8);
    border:1px solid rgba(156,216,61,0.8);
}

/*컨텐츠 박스 패딩값 통일화*/
.box8 .ad2_contents_wrap .ad2_contents_box .ad2_contents_inner{
    width:80%;
    margin:auto;
    padding:0%;
    
    background-color:deepskyblue;
}

/*컨텐츠 서체크기 통일화 1*/
.box8 .ad2_contents_wrap .ad2_contents_box .ad2_contents_inner p{
    font-size:35px;
    letter-spacing:-0.3px;
    font-weight:bold;
    padding-bottom:15px;
    border-bottom:1px solid #ffffff;
    
    background-color:blue;
}

.box8 .ad2_contents_wrap .ad2_contents_box .ad2_contents_inner .ad2_span{
    padding-top:15px;
    
    background-color:green;
}

/*컨텐츠 서체크기 통일화 2*/
.box8 .ad2_contents_wrap .ad2_contents_box .ad2_contents_inner span{
    font-size:15px;
    font-weight:200;
    line-height:30px;
    
    /*background-color:red;*/
}


/*컨텐츠 세부 디테일 값 조정*/
.box8 .ad2_contents_wrap .ad2_contents_1 .ad2_contents_inner p{
    /*background-color:red;*/
}

.box8 .ad2_contents_wrap .ad2_contents_2{
    float:right;
}

.box8 .ad2_contents_wrap .ad2_contents_3{
    margin-top:19px;
}

.box8 .ad2_contents_wrap .ad2_contents_4{
    float:right;
    margin-top:19px;
}

/*-----------------*/

.box8 .ad2_contents_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}
























/*Ad2 end*/
/* Prep & Ad2 END*/
/*---------------------------------------------------------------*/

/*ask_mid & prof start*/

.box9{
    width:100%;
    height:883px;
}

.box9 .box9_wrap{
    width:72.4%;
    margin:auto;
    
    /*background-color:red;*/
}

/*ask_mid start*/

.box9 .box9_wrap .ask_mid_wrap{
    width:100%;
    
    /*background-color:blue;*/
}

.box9 .box9_wrap .ask_mid_wrap .ask_mid_txt{
    width:49.82%;
    height:192px;
    float:left;
    
    /*background-color:blueviolet;*/
}

.box9 .box9_wrap .ask_mid_wrap .ask_mid_button{
    width:20%;
    height:192px;
    float:left;
    
    /*background-color:skyblue;*/
}

/*제목: 모의테스트 문의*/
.box9 .box9_wrap .ask_mid_wrap .ask_mid_txt h3{
    font-size:40px;
    font-weight:bold;
    padding-top:49px;
    padding-bottom:6px;
    
    /*background-color:limegreen;*/
}

/*소제목: SAT,ACT.....제시합니다.*/
.box9 .box9_wrap .ask_mid_wrap .ask_mid_txt p{
    width:85%;
    font-size:15px;
    font-weight:200;
    line-height:21px;
    
    /*background-color:forestgreen;*/
}

/*문의하기 버튼*/
.box9 .box9_wrap .ask_mid_wrap .ask_mid_button a{
    display:block;
    width:175px;
    height:65px;
    border-radius:40px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    margin-top:67px;
    
    background-color:rgba(50,136,175,0.9);
}

.box9 .box9_wrap .ask_mid_wrap .ask_mid_button a:hover{
    background-color:rgba(50,136,175,1);
}

.box9 .box9_wrap .ask_mid_wrap .ask_mid_button a p{
    text-align:center;
    font-size:27px;
    font-weight:500;
    padding-top:19px;
    
    /*background-color:mediumvioletred;*/
}

/*-----------------*/

.box9 .box9_wrap .ask_mid_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

/*ask_mid end*/

/*prof start*/

.box9 .box9_wrap .prof_wrap{
    /*background-color:darkblue;*/
}

.box9 .box9_wrap .prof_wrap .prof_title{
    /*background-color:coral;*/
}

/*제목: Professor Profile*/
.box9 .box9_wrap .prof_wrap .prof_title h3{
    font-size:40px;
    font-weight:bold;
    padding-top:57px;
    line-height:40px;
    
    /*background-color:red;*/
}

/*소제목: 세계 최고 수준의....*/
.box9 .box9_wrap .prof_wrap .prof_title p{
    font-size:15px;
    font-weight:200;
    padding-bottom:38px;
    
    /*background-color:limegreen;*/
}

/*교수 담긴 박스*/
.box9 .box9_wrap .prof_wrap .prof_contents_wrap{
    /*background-color:pink;*/
}

.box9 .box9_wrap .prof_wrap .prof_contents_wrap .prof_contents_innerwrap1{
    padding-bottom:56px;
    /*background-color:deeppink;*/
}

.box9 .box9_wrap .prof_wrap .prof_contents_wrap .prof_contents_innerwrap2{
    padding-bottom:56px;
    /*background-color:limegreen;*/
}

.box9 .box9_wrap .prof_wrap .prof_contents_wrap .prof_contents_innerwrap3{
    /*background-color:orangered;*/
}

/*교수 프로필*/
.box9 .box9_wrap .prof_wrap .prof_contents_wrap .prof_contents_innerwrap .profs{
    width:33.3333%;
    float:left;
    /*background-color:green;*/
}

.box9 .box9_wrap .prof_wrap .prof_contents_wrap .prof_contents_innerwrap .profs .prof_left{
    width:36.2%;
    height:112px;
    float:left;
    position:relative;
    
    /*background-color:mediumvioletred;*/
}

.box9 .box9_wrap .prof_wrap .prof_contents_wrap .prof_contents_innerwrap .profs .prof_right{
    float:left;
    /*background-color:red;*/
}

/*교사 이력*/
.box9 .box9_wrap .prof_wrap .prof_contents_wrap .prof_contents_innerwrap .profs .prof_right ul{
    padding-left:7px;
    padding-top:13px;
}

.box9 .box9_wrap .prof_wrap .prof_contents_wrap .prof_contents_innerwrap .profs .prof_right ul li{
    letter-spacing:0;
    font-size:12px;
    line-height:20px;
    font-weight:200;
}

/*교사 이름 담긴 박스*/
.box9 .box9_wrap .prof_wrap .prof_contents_wrap .prof_contents_innerwrap .profs .prof_left .prof_box{
    width:100%;
    height:77px;
    position:absolute;
    bottom:0;
    border-radius:8px;
    
    background-color:rgba(255,255,255,0.3);
}

/*교사 이름*/
.box9 .box9_wrap .prof_wrap .prof_contents_wrap .prof_contents_innerwrap .profs .prof_left .prof_box p{
    width:70%;
    margin:48px auto;
    text-align:center;
    font-size:19px;
    line-height:12px;
    border-bottom:0.5px solid rgba(255,255,255,0.9);
    
    /*background-color:mediumpurple;*/
}

.box9 .box9_wrap .prof_wrap .prof_contents_wrap .prof_contents_innerwrap .profs .prof_left .prof_box .position_relative{
    width:100%;
    position:relative;
}

/*교사 사진*/
.box9 .box9_wrap .prof_wrap .prof_contents_wrap .prof_contents_innerwrap .profs .prof_left .prof_box .position_relative img{
    
    /*고정형 레이아웃*/
    position:absolute;
    top:-36px;
    left:50%;
    margin-left:-38.5px;
}

/*-----------------*/

.box9 .box9_wrap .prof_wrap .prof_contents_wrap .prof_contents_innerwrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.box9 .box9_wrap .prof_wrap .prof_contents_wrap .prof_contents_innerwrap .profs:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

/*prof end*/
/*ask_mid & prof end*/

/*---------------------------------------------------------------*/

/*map start*/

.box10{
    width:100%;
    height:514px;
}

.box10_wrap{
    width:72.4%;
    margin:auto;
    padding-top:76px;
    
    /*background-color:brown;*/
}

.box10_wrap .addrs_box{
    width:303px;
    height:376px;
    border-radius:8px;
    
    background-color:rgba(255,158,18,1);
}

/*제목:해운대 본원*/
.box10_wrap .addrs_box .addrs_box_title{
    margin:auto;
    width:64%;
    padding-top:40px;
    font-size:35px;
    font-weight:bold;
    text-align:center;
    border-bottom:1.5px solid #ffffff;
    
    /*background-color:blueviolet;*/
}

.box10_wrap .addrs_box .addrs_box_contact{
    margin:auto;
    width:64%;
    
    /*background-color:red;*/
}

/*제목:연락처*/
.box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_title{
    font-size:20px;
    padding-bottom:8px;
    padding-top:25px;
    position:relative;
    
    /*background-color:blue;*/
}

/*arrow img*/
.box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_title img{
    float:left;
    position:absolute;
    top:31px;
    left:-10px;
    
    /*background-color:green;*/
}

.box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_title p{
    float:left;
    
    /*background-color:orange;*/
}

/*detailed txt*/
.box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_left{
    font-size:15px;
    font-weight:300;
    float:left;
    width:25%;
    
    /*background-color:skyblue;*/
}

.box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_right{
    font-size:15px;
    font-weight:300;
    padding-left:7%;
    width:50%;
    float:left;
    
    /*background-color:darkblue;*/
}

.box10_wrap .addrs_box .addrs_box_time{
    margin:auto;
    width:64%;
    
    /*background-color:red;*/
}

/*제목:운영시간*/
.box10_wrap .addrs_box .addrs_box_time .addrs_box_time_title{
    font-size:20px;
    padding-bottom:8px;
    padding-top:25px;
    position:relative;
    
    /*background-color:blue;*/
}

/*arrow img*/
.box10_wrap .addrs_box .addrs_box_time .addrs_box_time_title img{
    float:left;
    position:absolute;
    top:31px;
    left:-10px;
    
    /*background-color:green;*/
}

/*detailed txt*/
.box10_wrap .addrs_box .addrs_box_time .addrs_box_time_left{
    font-size:15px;
    font-weight:300;
    float:left;
    width:25%;
    
    /*background-color:skyblue;*/
}

.box10_wrap .addrs_box .addrs_box_time .addrs_box_time_right{
    font-size:15px;
    font-weight:300;
    padding-left:7%;
    width:50%;
    float:left;
    
    /*background-color:darkblue;*/
}

/*-----------------*/

.box10_wrap .addrs_box .addrs_box_contact:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_title:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}


.box10_wrap .addrs_box .addrs_box_time:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.box10_wrap .addrs_box .addrs_box_time .addrs_box_time_title:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

/*map end*/
/*---------------------------------------------------------------*/

/*ask & footer start*/

/*ask start*/
.box11{
    width:100%;
    height:553px;
}

.box11 .box11_wrap{
    width:72.4%;
    margin:auto;
    
    /*background-color:red;*/
}

/*제목:문의하기*/
.box11 .box11_wrap .ask_form_title{
    font-size:40px;
    font-weight:bold;
    padding-top:62px;
    
    /*background-color:blue;*/
}

/*소제목:자세한...*/
.box11 .box11_wrap .ask_form_subtitle{
    font-size:16px;
    padding-top:1px;
    padding-bottom:15px;

    /*background-color:purple;*/
}

/*focus---outline:none*/
.box11 .box11_wrap .ask_form_boxes input:focus{
    outline:none;
}

.box11 .box11_wrap .ask_form_boxes textarea:focus{
    outline:none;
}

/*form boxes*/
.box11 .box11_wrap .ask_form_boxes{
    font-weight:200;
    
    /*background-color:deepskyblue;*/
}

/*전체 박스*/
.box11 .box11_wrap .ask_form_boxes form .form_box{
    height:35px;
    padding-top:20px;
    margin-top:6px;
    padding-left:2%;
}

/*세부 박스*/
.box11 .box11_wrap .ask_form_boxes form .form_box4{
    height:96px;
}

.box11 .box11_wrap .ask_form_boxes form .form_box1, .form_box3, .form_box5{
    width:31.1%;
    float:left;
    
    background-color:#e5e5e5;
}

.box11 .box11_wrap .ask_form_boxes form .form_box2, .form_box4{
    width:64.46%;
    float:right;
    
    background-color:#e5e5e5;
}

.box11 .box11_wrap .ask_form_boxes form .form_box4 .form_box4_inner textarea{
    height:75px;
    width:97%;
    font-size:14px;
    color:#969696;
    resize:none;
    border:1px solid #e5e5e5;
    background-color:#e5e5e5;
}

/*전체 input*/
.box11 .box11_wrap .ask_form_boxes .form_box input{
    width:94%;
    height:17px;
    font-size:16px;
    color:#969696;
    float:left;
    border:none;
    
    background-color:#e5e5e5;
}

/*세부 input*/
.box11 .box11_wrap .ask_form_boxes .form_box2 input{
    width:97%;
}

/*보내기 button*/
.box11 .box11_wrap .ask_form_boxes form .form_button{
    width:12.24%;
    height:45px;
    font-size:16px;
    color:rgba(120,120,120,1);
    cursor:pointer;
    margin-top:18px;
    border-radius:0px;
    float:right;
    
    background-color:#e5e5e5;
    box-shadow:4px 4px 10px rgba(0,0,0,0.2);
}

/*-----------------*/

.box11 .box11_wrap .ask_form_boxes form:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.box11 .box11_wrap .ask_form_boxes .form_box:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

/*ask end*/
/*---------------------------------------------------------------*/

/*footer start*/

.footer{
    font-size:11px;
    line-height:18px;
    font-weight:100;
    
    width:72.4%;
    height:162px;
    margin:auto;
    
    opacity:0.8;
    position:relative;
    
    /*background-color:red;*/
}

.footer .footer_wrap{
    width:100%;
    position:absolute;
    bottom:22px;
    
    /*background-color:orange;*/
}

.footer .footer_wrap .footer_copyright{
    float:left;
    width:25%;
    
    /*background-color:blue;*/
}

.footer .footer_wrap .footer_contact_wrap{
    float:left;
    width:70%;
    
    /*background-color:cornflowerblue;*/
}

.footer .footer_wrap .footer_contact_wrap .footer_contact{
    float:left;
    padding-left:1.12%;
    padding-right:1.89%;
    border-left:1px solid #ffffff;
    
    /*background-color:skyblue;*/
}

/*-----------------*/

.footer_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.footer .footer_contact_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

/*footer end*/
/*ask & footer end*/
/*---------------------------------------------------------------*/