@charset "UTF-8";

/*---------------------------------------------------------------*/


.box1 .header_busan{
    background:url(../img/all_header_busan.png) no-repeat center;
    background-size:cover;
}

.box1 .header_marin{
    background:url(../img/all_header_marin.png) no-repeat center;
    background-size:cover;
}

.box1 .header_jeju{
    background:url(../img/all_header_jeju.png) no-repeat center;
    background-size:cover;
}

.box2{
    background:url(../img/busan_bg_logo.png) no-repeat center;
    background-size:cover;
}

<<<<<<< HEAD
=======

/*
.box4{
    background:url(../img/busan_bg_movie.png) no-repeat center;
    background-size:cover;
}
*/

>>>>>>> 56e501003fad9c6c3496c366e0768910cba34f5e
.box5{
    background:url(../img/busan_bg_blog.png) no-repeat center;
    background-size:cover;
}
<<<<<<< HEAD
=======

>>>>>>> 56e501003fad9c6c3496c366e0768910cba34f5e

.box6{
    background: url(../img/busan_bg_consult.png) no-repeat center;
    background-size: cover;
}

.box6 .consult_slider_frame{
    background: url('../img/busan_consult_frame.png') no-repeat center;
    background-size: contain;
}

<<<<<<< HEAD
.box7{
    background:url('../img/busan_bg_ad_1.png') no-repeat center;
    background-size:cover;
}
=======
.box4{
    background:url(../img/busan_bg_movie.png) no-repeat center;
    background-size:cover;
}

>>>>>>> 56e501003fad9c6c3496c366e0768910cba34f5e
