@charset 'utf-8';
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body, a, ul, p, h1, h2{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

h1{
    font-size: 2.33em;
    margin-top: 23px;
    margin-bottom: 11.5px;
    line-height: 0.917;
}

.jumbo_container .consult_container{
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}


.jumbo_container{
    margin-bottom: 0;
    width: 1600px;
    height: 525px;
    background: beige;
}

.consult_container{
    width: 1142px;
    padding-left: 15px;
    padding-right: 15px;
}

.consult_contents{
    margin-left: -15px;
    margin-right: -15px;
}

.consult_txt_container{
    position: relative;
    min-height: 1px;
    height: 525px;
    padding-left: 15px;
    padding-right: 15px;
    
    float: left;
    width: 43%;
    
    background-color: aquamarine;
}

.consult_slider_container{
    position: relative;
    min-height: 1px;
    height: 525px;
    padding-left: 15px;
    padding-right: 15px;
    
    float: left;
    width: 50%;
    
    background-color: brown;
}

.slider_indent{
    display: block;
    box-sizing: border-box;
    padding-bottom: 18px;
}

.slick_indent a{
    display: block;
}

.slick-prev{
    left: 48%;
    top: 5%;
}

.slick-next{
    left: 48%;
    top: 100%;
}


.slick-list{
    position: relative;
    display: block;
    overflow: hidden;

    height: 345px;
    padding: 50px 0px;
}

.slick-slide{
    height: 345px !important;
    margin-bottom: 1.5em !important;
}

.slick-track{
    height: 2559px;
    background-color: darksalmon;
}


.vertical_slider .slick-slide.slide-highlight{
    opacity: 1;
    transition: all 0.5s;
}


.consult_slider_item{
    background-color: aliceblue;
    overflow: hidden;
    
}

.consult_slider_title{
    float: left;
    width: 40%;
}

.consult_slider_main{
    float: left;
    width: 60%;
}

.consult_slider_main1 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.81;
}

.consult_slider_main2 p{
    font-size: 13px;
    font-weight: 500;
    line-height: 1.69;
}


.ye{
    background: yellow;
}
.ye a{
    display: block;
    background: red;
}


