@charset 'utf-8';

/*max-width:414px(핸드폰 세로 기준)*/
@media screen and (min-width: 320px) and (max-width: 414px){ /*----------------------------------------------------------------*/

    /* 잊지말고 지울것 */
    .box2-clone .mobile_hamburger_left{
        width:50px;
        height:50px;
        background-color:blue;
        position:absolute;
        top:16px;
        left:15px;
        text-align: center;
        
    }

    .box2-clone .mobile_hamburger_right{
        width:50px;
        height:50px;
        background-color:red;
        position:absolute;
        top:16px;
        right:15px;
        text-align: center;
    }

    /*---------------------------------------*/
    
     /* menu start */
    .box2-clone .mobile_hamburger_left .menu_select_area {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -100%;
        background-color: rgba(17, 17, 17, 0.95);
        overflow: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .box2-clone .mobile_hamburger_left .menu_select_area a {
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.1s;
    }

    .box2-clone .mobile_hamburger_left .menu_select_area a:hover {
        color: #f1f1f1;
    }

    .box2-clone .mobile_hamburger_left .menu_select_area .closebtn_menu {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    .box2-clone .mobile_hamburger_left .openbtn_menu{
        font-size: 26px;
    }

    /* menu end */
    
    /* academy start */
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan br{
        display: none;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area{
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 100%; 
        background-color: rgba(17, 17, 17, 0.95);
        overflow: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area a{
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.1s;
/*        background: blue;*/
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area h1{
        position: absolute;
        width: 30%;
        top: 4%;
        left: 35%;
        font-size: 25px;
/*        background-color: forestgreen;*/
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area a:hover{
        color: #f1f1f1;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area .academy_wrap{
        height: 80%;
        
/*        background-color: red;*/
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju{
        width: 90%;
        height: 28%;
        margin: auto;
        margin-top: 5.5%;
        
        display: table;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan a,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin a,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju a{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../../img/busan_bg_academy_busan2.png') no-repeat bottom;
        background-size: cover;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../../img/busan_bg_academy_marin2.png') no-repeat center;
        background-size: cover;
        
    }
    
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../../img/busan_bg_academy_jeju2.png') no-repeat center;
        background-size: cover;
    }
    
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan p,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin p,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju p{
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        font-weight: 500;
        color: #ffffff;
    
        transition: 0.1s;
    }
    
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan a:hover,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin a:hover,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju a:hover{
        background: rgba(50, 136, 175, 0.8);
    }
    
    
    /* 바로가기 */
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan .shortcut,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin .shortcut,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju .shortcut{
        width: 100px;
        background-color: #3288af;
        margin: auto;
        margin-top: 5px;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan .shortcut p,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin .shortcut p,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju .shortcut p{
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
    }
    
    /* btn setting */
    .box2-clone .mobile_hamburger_right .academy_select_area .closebtn_aca{
        position: absolute;
        top: 2%;
        left: 25px;
        font-size: 36px;
        padding: 0;
    }
    
    .box2-clone .mobile_hamburger_right .openbtn_aca{
        font-size: 26px;
    }
    
    /* academy end */
    
    /*---------------------------------------*/
    
    /*box6_consult start*/

    .box6{
        height:580px;    
    }

    
    .box6 .consult_container{
        width: 75.4%;
        margin: auto;
         
        top: 5%;
    }
    
    .box6 .consult_contents{
        width: 100%;
        padding-top:5px;
        margin: auto;
    }
    
    .box6 .consult_txt_container{
        float: none;
        width: 100%;
        
        padding: 0 8px;
/*        background-color: dodgerblue;*/
    }
    
    .box6 .consult_slider_container{
        float: none;
        width: 100%;
        margin-top: 2%;
        
/*        background-color: forestgreen;*/
    }
    
    
   .box6 .consult_txt_all{
        margin-top: -2px;
/*        background-color: red;*/
        
    }

    .box6 .consult_txt_main{
        width: 99%;
        margin-top: 18px;
/*        background-color: aquamarine;*/
    }

    /* consult_txt */
    .box6 .consult_txt_title p{
        font-size: 27px;
    }
    
    .box6 .consult_txt_subtitle p{
        font-size: 14px;
        font-weight: 400;
    }
    
    .box6 .consult_txt_main span{
        font-size: 12.5px;
        line-height: 1.8;
    }
    
    /* consult_slider*/  
    .box6 .slider_indent,
    .box6 .slick-list{
        width: 100%;
    }
    
    .box6 .consult_slider_title{
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
        
        margin-bottom: 10px; 
/*        background: red;*/
    }
    
    .box6 .consult_slider_main{
        float: none;
        width: 94%;
        margin: 0;
        padding: 0;
        
/*        background: blue;*/
    }
    
    .box6 .consult_slider_item{
        margin-top:17px;

/*        background-color:purple;*/
    }
      
    .box6 .consult_slider_frame{
        height: 260px;
        width: 100%;
        margin: auto;
        
        background: url('../img/busan_consult_frame_750.png') no-repeat center;
        background-size: cover;
    }
    
    .box6 .slider_indent{
        margin:auto;
        height: 280px;
    }

    .box6 .slick-list{
        width: 100%;
        padding: 3% 0;
/*        background-color: skyblue;*/
    }

    .box6 .slick-track{
/*        background-color: darksalmon;*/
        margin: 0 3%;

    }
  
    
    .box6 .consult_slider_title p{
        font-size: 26px;
        font-weight: 600;
    }
    .box6 .consult_slider_main1{
        font-size: 13px;
        font-weight: 400;
        line-height: 1.6;
        
        padding-bottom: 10px;
    }
    
    .box6 .consult_slider_main2{
        font-size: 12px;
        font-weight: 300;
        line-height: 1.65;
        
        padding-top: 13px;
    }
    
    /* slider nav*/
    .box6 .slick-prev{
        left: -12.8%;
        top: 47.987%;
    
        transform: rotate(-90deg);
    }

    .box6 .slick-next{
        left: 101.3%;
        top: 50%;

        transform: rotate(-90deg);
    }
    
    /*box6_consult end*/
/*---------------------------------------------------------------*/
    

    /*box8_prep & ad2 start*/
    .box8{
        background:none;
        height:auto;
    }
    
    .box8 .prep_all_wrap{
        background:url(../../img/busan_bg_prep_mobile.jpg) no-repeat center;
        background-size:cover;
        padding-top:50px;
        padding-bottom:50px;
    }
    
    .box8 .Prep1_title br,
    .box8 .Prep2_title br,
    .box8 .Prep3_title br{
        display: inherit;
    }

    
    /* hover off */
    .box8 .multi_slider .prep1_contents_inner,
    .box8 .multi_slider .prep1_contents_inner:hover{
        background: url(../../img/busan_prep1_box_line2.png) no-repeat center;
        background-size: contain;
    }
    
    .box8 .multi_slider .prep2_contents_inner,
    .box8 .multi_slider .prep2_contents_inner:hover{
        background: url('../../img/busan_prep2_box_line2.png') no-repeat center;
        background-size: contain;
    }
    
    .box8 .multi_slider .prep3_contents_inner,
    .box8 .multi_slider .prep3_contents_inner:hover{    
        background: url('../../img/busan_prep3_box_line.png') no-repeat center;
        background-size: contain;
    }
    
    /* font-weight */
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_subtitle{
        font-weight: 500;
    }
    
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span,
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_span,
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        font-weight: 400;
        margin-top: 22px;
    }

    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_txt_subtitle,
    .box8 .prep3_list_container .prep3_list_title_all .prep3_list_subtitle{
        font-weight: 400;
    }
    
    
    /* Prep start */
    .box8 .Prep1_title,
    .box8 .Prep2_title,
    .box8 .Prep3_title{
        width: 75.4%;
    }
    
    /* prep frame setting */
    .box8 .Prep1_container,
    .box8 .Prep2_container,
    .box8 .Prep3_container,
    .box8 .prep3_list_container{
        width: 75.4%;
    }
    
    /* 공통 */
    .box8 .Prep1_title ul li h3,
    .box8 .Prep2_title ul li h3,
    .box8 .Prep3_title ul li h3{
        font-size: 27px;
        line-height: 27px;
        margin-bottom: 12px;
    }
    
    .box8 .Prep1_title ul li p,
    .box8 .Prep2_title ul li p,
    .box8 .Prep3_title ul li p{
        font-size: 16px;
        line-height:22px;
        font-weight: 400;
        margin-left: 2px;
        /*padding-bottom:10px;*/
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span,
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_span,
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        margin-top: 18px;
    /*    background-color:green;*/
    }
    
    .box8 .Prep1_title{
        padding-top:0px;
        margin-left: 16%;
    }

    .box8 .Prep2_title{
        padding-top: 40px;
        margin-left: 16%;
    }
    
    .box8 .Prep3_title{
        padding-top: 40px;
        margin-left: 16%;
    }
    
    /* prep1 */
    .box8 .Prep1_container .prep1_box .prep1_contents_inner{
        padding-top: 9.2%;
        padding-bottom: 13.2%;
        padding-left: 11.6%;
        padding-right: 11.6%;
        margin: 7.9px 6.5px;
        /*background-color: aquamarine;*/
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner p,
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_title{
        font-size: 37px;
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_subtitle{
        font-size: 16px;
    }
    

   
    /* prep2 */
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_txt_title{
        font-size:24px;
    }
    
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_span{
        font-size:13.5px;
        line-height: 1.5;
        width: 90%;

    /*    background-color:red;*/
    }
    
    .box8 .Prep2_container .prep2_box .prep2_contents_inner{
        padding-top: 10.2%;
        padding-bottom: 12.2%;
        padding-left: 11.6%;
        padding-right: 11.6%;
        margin: 7.9px 6.5px;
    }

    
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_txt_subtitle{
        font-size: 15.5px;
    }
    
    /* prep3_slider */
    .box8 .Prep3_container .prep3_box .prep3_contents_inner p{
        font-size: 38px;
    }
    
    .box8 .Prep3_container .prep3_box .prep3_ko p{
        font-size : 34px;
        padding-bottom: 4px;
    }
    
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        font-size: 15px;
    }
    
    .box8 .Prep3_container .prep3_box .prep3_contents_inner{
        padding-top: 8.5%;
        padding-bottom: 9.7%;
        padding-left: 12.6%;
        padding-right: 17.6%;
        margin: 8.9px 6.5px;
    /*    background-color: aquamarine;*/
    }
    
    /* prep3_list */
    .box8 .prep3_list_container .prep3_list_title_all .prep3_list_title{
        font-size:22px;
        margin-right: 100%;
        
/*        background-color:aqua;*/
    }
    
    .box8 .prep3_list_container .prep3_list_title_all{ 
        margin-top: 20px;
    }

    .box8 .prep3_list_container .prep3_list_title_all .prep3_list_subtitle,
    .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents span{
        font-size: 13px;
    }
    
    .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents{
        width: 33.3333%;
        height: 70px;
    }

    
    
     /* slidenav position */
    .box8 .slick-prev{
        left: -8.2%;
        top: 46%;
    }

    .box8 .slick-next{
        right: -8.2%;
        top: 46%;
    }
    /*prep end*/

}/*max-width:414px end*/
/*-----------------------------------------------------------------------------------------------*/



@media screen and (min-width: 415px) and (max-width: 767px){ /*----------------------------------------------------------------*/
    /* menu start */
    .box2-clone .mobile_hamburger_left .menu_select_area {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -100%;
        background-color: rgba(17, 17, 17, 0.95);
        overflow: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .box2-clone .mobile_hamburger_left .menu_select_area a {
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.1s;
    }

    .box2-clone .mobile_hamburger_left .menu_select_area a:hover {
        color: #f1f1f1;
    }

    .box2-clone .mobile_hamburger_left .menu_select_area .closebtn_menu {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    .box2-clone .mobile_hamburger_left .openbtn_menu{
        font-size: 26px;
    }

    /* menu end */
    
    /* academy start */
    .box2-clone .mobile_hamburger_right .academy_select_area{
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 100%; 
        background-color: rgba(17, 17, 17, 0.95);
        overflow: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area a{
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.1s;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area h1{
        position: absolute;
        width: 30%;
        top: 4%;
        left: 35%;
        font-size: 25px;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area a:hover{
        color: #f1f1f1;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area .academy_wrap{
        height: 80%;
        width: 95%;
        margin: 0 auto;
        margin-top: 5%;
        padding: 0;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area .academy_wrap:after{
        content:"";
        display:block;
        clear:both;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju{       
        width: 32%;
        height: 80%;
    
        margin: auto;
        
        display: table;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin{
        float: left;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin{
        margin-left: 3%;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju{
        float: right;
    }
    
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan a,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin a,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju a{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    
    
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../../img/busan_bg_academy_busan2.png') no-repeat bottom;
        background-size: cover;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../../img/busan_bg_academy_marin2.png') no-repeat center;
        background-size: cover;
        
    }
    
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../../img/busan_bg_academy_jeju2.png') no-repeat center;
        background-size: cover;
    }
    
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan p,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin p,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju p{
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        font-weight: 500;
        color: #ffffff;
    
        transition: 0.1s;
    }
    
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan a:hover,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin a:hover,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju a:hover{
        background: rgba(50, 136, 175, 0.8);
    }
    
    
    /* 바로가기 */
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan .shortcut,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin .shortcut,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju .shortcut{
        width: 100px;
        background-color: #3288af;
        margin: auto;
        margin-top: 5px;
    }
    
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_busan .shortcut p,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_marin .shortcut p,
    .box2-clone .mobile_hamburger_right .academy_select_area .aca_jeju .shortcut p{
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
    }
    
    /* btn setting */
    .box2-clone .mobile_hamburger_right .academy_select_area .closebtn_aca{
        position: absolute;
        top: 2%;
        left: 25px;
        font-size: 36px;
        padding: 0;
    }
    
    .box2-clone .mobile_hamburger_right .openbtn_aca{
        font-size: 26px;
    }
    
    /* academy end */
    
    
    
    /*box6_consult start*/

    .box6{
        height:535px;    
    }

    
     .box6 .consult_container{
        width: 75.4%;
        margin: auto;
         
         top: 5%;
    }
    
    .box6 .consult_contents{
        width: 100%;
        padding-top:5px;
        margin: auto;
    }
    
    .box6 .consult_txt_container{
        float: none;
        width: 100%;
        
        padding: 0 8px;
/*        background-color: dodgerblue;*/
    }
    
    .box6 .consult_slider_container{
        float: none;
        width: 100%;
        margin-top: 2%;
        
/*        background-color: forestgreen;*/
    }
    
    
   .box6 .consult_txt_all{
        margin-top: -2px;
/*        background-color: red;*/
        
    }

    .box6 .consult_txt_main{
        width: 99%;
        margin-top: 18px;
/*        background-color: aquamarine;*/
    }

    /* consult_txt */
    .box6 .consult_txt_title p{
        font-size: 36px;
    }
    
    .box6 .consult_txt_subtitle p{
        font-size: 14px;
        font-weight: 300;
    }
    
    .box6 .consult_txt_main span{
        font-size: 12.5px;
        line-height: 1.8;
    }
    
    /* consult_slider*/  
    .box6 .slider_indent,
    .box6 .slick-list{
        width: 100%;
    }
    
    .box6 .consult_slider_title{
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
        
        margin-bottom: 10px; 
/*        background: red;*/
    }
    
    .box6 .consult_slider_main{
        float: none;
        width: 94%;
        margin: 0;
        padding: 0;
        
/*        background: blue;*/
    }
    
    .box6 .consult_slider_item{
        margin-top:17px;

/*        background-color:purple;*/
    }
      
    .box6 .consult_slider_frame{
        height: 260px;
        width: 100%;
        margin: auto;
        
        background: url('../img/busan_consult_frame_750.png') no-repeat center;
        background-size: cover;
    }
    
    .box6 .slider_indent{
        margin:auto;
        height: 280px;
    }

    .box6 .slick-list{
        width: 100%;
        padding: 3% 0;
/*        background-color: skyblue;*/
    }

    .box6 .slick-track{
/*        background-color: darksalmon;*/
        margin: 0 3%;

    }
  
    
    .box6 .consult_slider_title p{
        font-size: 26px;
        font-weight: 600;
    }
    .box6 .consult_slider_main1{
        font-size: 13px;
        font-weight: 400;
        line-height: 1.6;
        
        padding-bottom: 10px;
    }
    
    .box6 .consult_slider_main2{
        font-size: 12px;
        font-weight: 300;
        line-height: 1.65;
        
        padding-top: 13px;
    }
    
    /* slider nav*/
    .box6 .slick-prev{
        left: -12.8%;
        top: 47.987%;
    
        transform: rotate(-90deg);
    }

    .box6 .slick-next{
        left: 101.3%;
        top: 50%;

        transform: rotate(-90deg);
    }
    
    /*box6_consult end*/
/*---------------------------------------------------------------*/
    
    
    
    /*box8_prep & ad2 start*/
    .box8{
        width:100%;
        height:auto;
    }
    
    .box8 .prep_all_wrap{
        background:url(../../img/busan_bg_prep_mobile.jpg) no-repeat center;
        background-size:cover;
        padding-top:60px;
        padding-bottom:60px;
        background-color:blue;
    }
    
      /* hover off */
    .box8 .multi_slider .prep1_contents_inner,
    .box8 .multi_slider .prep1_contents_inner:hover{
        background: url(../../img/busan_prep1_box_line2.png) no-repeat center;
        background-size: contain;
    }
    
    .box8 .multi_slider .prep2_contents_inner,
    .box8 .multi_slider .prep2_contents_inner:hover{
        background: url('../../img/busan_prep2_box_line2.png') no-repeat center;
        background-size: contain;
    }
    
    .box8 .multi_slider .prep3_contents_inner,
    .box8 .multi_slider .prep3_contents_inner:hover{    
        background: url('../../img/busan_prep3_box_line.png') no-repeat center;
        background-size: contain;
    }
    
    
    /* font-weight */
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_subtitle{
        font-weight: 500;
    }
    
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span,
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_span,
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        font-weight: 400;
        margin-top: 22px;
    }

    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_txt_subtitle,
    .box8 .prep3_list_container .prep3_list_title_all .prep3_list_subtitle{
        font-weight: 400;
    }
    
    /* Prep start */
    .box8 .Prep1_title,
    .box8 .Prep2_title,
    .box8 .Prep3_title{
        width: 75.4%;
    }
    
    /* prep frame setting */
    .box8 .Prep1_container,
    .box8 .Prep2_container,
    .box8 .Prep3_container,
    .box8 .prep3_list_container{
        width: 75.4%;
    }
    
    /* 공통 */
    .box8 .Prep1_title ul li h3,
    .box8 .Prep2_title ul li h3,
    .box8 .Prep3_title ul li h3{
        font-size: 33px;
        line-height:33px;
        margin-bottom: 2px;
        padding-left:5px;
    }
    
    .box8 .Prep1_title ul li p,
    .box8 .Prep2_title ul li p,
    .box8 .Prep3_title ul li p{
        font-size: 16px;
        font-weight: 400;
        padding-top:5px;
        padding-bottom:0px;
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span,
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_span,
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        margin-top: 18px;
    /*    background-color:green;*/
    }
    
    
    .box8 .Prep1_title{
        padding-top:0px;
    }

    .box8 .Prep2_title{
        padding-top: 45px;
    }
    
    .box8 .Prep3_title{
        padding-top: 45px;
    }
    
    /* prep1 */
    .box8 .Prep1_container .prep1_box .prep1_contents_inner p,
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_title{
        font-size: 35px;
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_txt_subtitle{
        font-size: 16px;
        
        margin-left: -4px;
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner .prep1_span{
        width: 110%;
        font-size: 13px;   
    }
    
    .box8 .Prep1_container .prep1_box .prep1_contents_inner{
        padding-top: 10.2%;
        padding-bottom: 14.2%;
        padding-left: 9.6%;
        padding-right: 10.6%;
        margin: 7.9px 6.5px;
        /*background-color: aquamarine;*/
    }
   
    /* prep2 */
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_txt{
        width: 110%;
/*        background-color: red;*/
    }
    
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_txt_title{
        font-size:24px;
    }
    
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_span{
        font-size:13px;
        line-height: 1.5;
        width: 110%;

    /*    background-color:red;*/
    }
    
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_span br{
        display: none;
    }
    
    
    .box8 .Prep2_container .prep2_box .prep2_contents_inner{
        padding-top: 11.2%;
        padding-bottom: 13.2%;
        padding-left: 9.6%;
        padding-right: 17.6%;
        margin: 8.9px 6.5px;

    /*    background-color: forestgreen;*/
    }

    
    .box8 .Prep2_container .prep2_box .prep2_contents_inner .prep2_txt_subtitle{
        font-size: 13px;
    }
    
    /* prep3_slider */
    .box8 .Prep3_container .prep3_box .prep3_contents_inner{
        padding-top: 7.5%;
        padding-bottom: 10.7%;
        padding-left: 12.6%;
        padding-right: 17.6%;
        margin: 8.9px 6.5px;
    /*    background-color: aquamarine;*/
    }
    
    .box8 .Prep3_container .prep3_box .prep3_contents_inner p{
        font-size: 38px;
    }
    
    .box8 .Prep3_container .prep3_box .prep3_ko p{
        font-size : 34px;
        padding-bottom: 4px;
    }
    
    .box8 .Prep3_container .prep3_box .prep3_contents_inner .prep3_span{
        font-size: 15px;
    }
    
    
    /* prep3_list */
    .box8 .prep3_list_container .prep3_list_title_all .prep3_list_title{
        font-size:22px;
        line-height:22px;
        margin-right: 100%;
        
/*        background-color:aqua;*/
    }
    
    .box8 .prep3_list_container .prep3_list_title_all{ 
        margin-top: 20px;
    }

    .box8 .prep3_list_container .prep3_list_title_all .prep3_list_subtitle{
        font-size:13px;
        line-height:13px;
        /*background-color:blue;*/
    }
    
    .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents span{
        font-size: 14px;
        font-weight: 500;
    }
    
    .box8 .prep3_list_container .prep3_list_inner .prep3_list_contents{
        width: 33.3333%;
        height: 67px;
    }

     /* slidenav position */
    .box8 .slick-prev{
        left: -6.7%;
        top: 46%;
    }

    .box8 .slick-next{
        right: -6.7%;
        top: 46%;
    }
    /*prep end*/
    
}