@charset 'utf-8';
/*max-width:1024px(1024px 이하 _ 2nd break point) 가로*/
@media screen and (min-width:851px) and (max-width:1024px){ /*---------------------------------------*/
    
    /*box1_header start*/
    .box1 .header_busan a{
    font-weight:700;
}
    
    .box1 .header_marin a{
    font-weight:700;
}
    
    .box1 .header_jeju a{
    font-weight:700;
}

/*-----------------------------------------------------------*/
    
    .box3 .menu_wrap .menus a{
    font-weight:600;
}
    
/*-----------------------------------------------------------*/
    
    /*문의하기 버튼*/
    .box4 .video_container .button1{
    font-weight:500;
}
    
    /*카카오톡 버튼*/
    .box4 .video_container .button2{
    font-weight:500;
}
    
/*-----------------------------------------------------------*/
    
    /*컨텐츠 서체크기 통일화 2*/
    .box7 .ad1_contents_wrap .ad1_contents_box .ad1_contents_inner span{
    font-weight:500;
}
    
    .box7 .ad1_title ul li p{
    font-weight:500;
}
    
/*-----------------------------------------------------------*/
    
    /*컨텐츠 서체크기 통일화 2*/
    .box8 .ad2_contents_wrap .ad2_contents_box .ad2_contents_inner span{
    font-weight:500;
    letter-spacing:0;
}
    
    .box8 .ad2_title ul li p{
    font-weight:500;
}

/*-----------------------------------------------------------*/
    
    /*소제목: SAT,ACT.....제시합니다.*/
    .box9 .box9_wrap .ask_mid_wrap .ask_mid_txt p{
    font-weight:500;
    letter-spacing:0;
}
    
    /*교사 이력 서체*/
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_right ul li{
    font-weight:500;
    letter-spacing:0;
}

/*-----------------------------------------------------------*/
    
    /*제목:연락처*/
    .box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_title{
    font-weight:500;
}
    
    /*detailed txt_ 연락처 left*/
    .box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_left{
    font-weight:400;
}
    
    /*detailed txt_ 연락처 right*/
    .box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_right{
    font-weight:400;
}
    
    /*detailed txt_ 운영시간 left*/
    .box10_wrap .addrs_box .addrs_box_time .addrs_box_time_left{
    font-weight:400;
}
    
    /*detailed txt_ 운영시간 right*/
    .box10_wrap .addrs_box .addrs_box_time .addrs_box_time_right{
    font-weight:400;
}
    
    
/*-----------------------------------------------------------*/ 
    
    /*소제목:자세한...*/
    .box11 .box11_wrap .ask_form_subtitle{
    font-weight:500;
}
    
    /*전체 input*/
    .box11 .box11_wrap .ask_form_boxes .form_box input{
    font-weight:400;
}
    /*textarea 폰트 사이즈*/
    .box11 .box11_wrap .ask_form_boxes form .form_box4 .form_box4_inner textarea{
    font-weight:400;
}
    
    /*보내기 button*/
    .box11 .box11_wrap .ask_form_boxes form .form_button{
    font-weight:400;
}
   
/*-----------------------------------------------------------*/
    
    .footer{
    font-weight:300;
}
    
/*-----------------------------------------------------------*/    
} /*media query end*/



/*max-width:850px(850px 이하 _ 3rd break point) 세로*/
@media screen and (min-width:768px) and (max-width:850px) { /*---------------------------------------*/
    
    /*box1_header start*/
    .box1 .header_busan a{
    font-weight:700;
}
    
    .box1 .header_marin a{
    font-weight:700;
}
    
    .box1 .header_jeju a{
    font-weight:700;
}

/*-----------------------------------------------------------*/  
    
    .box3 .menu_wrap .menus a{
    font-weight:600;
}
    
    /*fixed menu start*/
    .box3-clone{
    width:100%;
    height:40px;
    position:fixed;
    top:-50px;
    
    -webkit-transition: top 0.35s;
            transition:top 0.35s;
    
    opacity:1;
    background:rgba(170,170,170,1);
}
    
    .box3-clone .menu_wrap .menus a{
    font-weight:500;
}
    
/*-----------------------------------------------------------*/
    
    /*문의하기 버튼*/
    .box4 .video_container .button1{
    font-weight:500;
}
    
    /*카카오톡 버튼*/
    .box4 .video_container .button2{
    font-weight:500;
}
    
/*-----------------------------------------------------------*/
    
    .box7 .ad1_title{
    padding-top:50px;
}
    
    /*컨텐츠 박스 패딩값 통일화*/
    .box7 .ad1_contents_wrap .ad1_contents_box .ad1_contents_inner{
    padding-top:25px;
}
    
    /*컨텐츠 서체크기 통일화 2*/
    .box7 .ad1_contents_wrap .ad1_contents_box .ad1_contents_inner span{
    font-weight:500;
    letter-spacing:0;
}
    
    .box7 .ad1_title ul li p{
    font-weight:500;
}
    
    .box7 .ad1_contents_wrap .ad1_contents_3{
    height:360px;
    margin-top:8px;
}

    .box7 .ad1_contents_wrap .ad1_contents_4{
    height:360px;
    margin-top:8px;
}

/*-----------------------------------------------------------*/
    
    .box8 .ad_2_wrap{
    margin-top:130px;
}
    /*컨텐츠 서체크기 통일화 2*/
    .box8 .ad2_contents_wrap .ad2_contents_box .ad2_contents_inner span{
    font-weight:500;
    letter-spacing:0;
}
    
    .box8 .ad2_title ul li p{
    font-weight:500;
}
    
/*-----------------------------------------------------------*/
    

    /*소제목: SAT,ACT.....제시합니다.*/
    .box9 .box9_wrap .ask_mid_wrap .ask_mid_txt p{
    font-weight:500;
    letter-spacing:0;
}
    
    /*교사 이력 서체*/
    .box9 .box9_wrap .prof_wrap .prof_contents_wrap .profs .prof_right ul li{
    font-weight:400;
    letter-spacing:0;
    font-size:10.4px;
}

/*-----------------------------------------------------------*/
    
    /*제목:연락처*/
    .box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_title{
    font-weight:500;
}
    
    /*detailed txt_ 연락처 left*/
    .box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_left{
    font-weight:400;
    line-height:20px;
}
    
    /*detailed txt_ 연락처 right*/
    .box10_wrap .addrs_box .addrs_box_contact .addrs_box_contact_right{
    font-weight:400;
    line-height:20px;
}
    
    /*detailed txt_ 운영시간 left*/
    .box10_wrap .addrs_box .addrs_box_time .addrs_box_time_left{
    font-weight:400;
    line-height:20px;
}
    
    /*detailed txt_ 운영시간 right*/
    .box10_wrap .addrs_box .addrs_box_time .addrs_box_time_right{
    font-weight:400;
    line-height:20px;
}   
    
/*-----------------------------------------------------------*/ 
    
    /*소제목:자세한...*/
    .box11 .box11_wrap .ask_form_subtitle{
    font-weight:500;
}
    
    /*전체 input*/
    .box11 .box11_wrap .ask_form_boxes .form_box input{
    font-weight:400;
}
    /*textarea 폰트 사이즈*/
    .box11 .box11_wrap .ask_form_boxes form .form_box4 .form_box4_inner textarea{
    font-weight:400;
}
    
    /*보내기 button*/
    .box11 .box11_wrap .ask_form_boxes form .form_button{
    font-weight:400;
}
   
/*-----------------------------------------------------------*/
    
    .footer{
    font-weight:300;
}

/*-----------------------------------------------------------*/
    
} /*media query end*/
